<!--{template common/header}-->
<style id="diy_style" type="text/css">#frame8YFY3G { border:#669999 5px dotted !important;}</style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="framevvXmyR" class="frame move-span cl frame-1-1-1"><div class="title frame-title"><span class="titletext">首页内容</span></div><div id="framevvXmyR_left" class="column frame-1-1-1-l"><div id="framevvXmyR_left_temp" class="move-span temp"></div><div id="frame8YFY3G" class="xfs xfs_3 frame move-span cl frame-1"><div class="title frame-title"><span class="titletext">最新帖子图片</span></div><div id="frame8YFY3G_left" class="column frame-1-c"><div id="frame8YFY3G_left_temp" class="move-span temp"></div><!--{block/63}--></div></div></div><div id="framevvXmyR_center" class="column frame-1-1-1-c"><div id="framevvXmyR_center_temp" class="move-span temp"></div></div><div id="framevvXmyR_right" class="column frame-1-1-1-r"><div id="framevvXmyR_right_temp" class="move-span temp"></div></div></div></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
