<head>
<title>新闻列表</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/general.css" rel="stylesheet" type="text/css" />
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/transport.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
</head>
<body>
<h1>
<span class="action-span1">讲师信息列表</span><span id="search_id" class="action-span1"></span>
<div style="clear:both"></div>
</h1>
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th  class="group-title">编号</th>
	<th  class="group-title">讲师姓名</th>
	<th  class="group-title">讲师介绍</th>
	<th  class="group-title">职位名称</th>
  </tr>
  <tr class="table_tr">
    <td width="5%">1</td>
    <td width="20%">姚欣</td>
    <td width="35%">姚欣，多年从事Java EE、PHP以及富客户端技术开发,曾参与并主持开发检察院系统的软件及罪犯管理系统,成功帮助北京263企业邮箱,广州易方达，北京智诚创想等多家企业完成富客户端系统架构升级与改造,热衷于前台技术的研究，蓝源RIA快速开发框架总设计师。擅长技术：Spring,Struts,Hibernate,Jpa,JavaScript,PHP,JQuery, ExtJs，AJAX。精通ExtJS、Flex等多种富客户端技术。</td>
    <td width="10%">高级讲师、高级软件架构师</td>
  </tr>

</table>
</div>
<br />
<div id="footer">
版权所有 &copy; 八维研修学院软件工程学院1302phpA班，并保留所有权利。</div>
</body>
</html>