
<div id="wp" class="wp">
<!--
<style type="text/css">
.ie6 .module { position: static;}
.ie6 .module em { position: static; right:0px;}

</style>
-->
<!--  焦点下部 全屏横幅广告占位   -->
<div class="wp vk_index">
  		<!--[diy=diy_vk_ad_001]--><div id="diy_vk_ad_001" class="area"></div><!--[/diy]--> 
</div>

  
<style id="diy_style" type="text/css"></style>
    <!-- 上部自定义 diy区块 -->
<div class="wp vk_index col_vk_title vk_tab">
<!--[diy=diy_vk_top_bbs_1]--><div id="diy_vk_top_bbs_1" class="area"></div><!--[/diy]-->
</div>


<!--  焦点下部 全屏横幅广告占位   -->
<div class="wp vk_index">
  		<!--[diy=diy_vk_ad_002]--><div id="diy_vk_ad_002" class="area"></div><!--[/diy]--> 
</div>


<div class="wp vk_index col_vk_title vk_tab">
<!--[diy=diy_vk_top_bbs_2]--><div id="diy_vk_top_bbs_2" class="area"></div><!--[/diy]-->
</div>

<div class="wp vk_index col_vk_title vk_tab">
<!--[diy=diy_vk_top_bbs_3]--><div id="diy_vk_top_bbs_3" class="area"></div><!--[/diy]-->
</div>

  
  

<!--  焦点下部 全屏横幅广告占位   -->
<div class="wp vk_index">
  		<!--[diy=diy_vk_ad_003]--><div id="diy_vk_ad_003" class="area"></div><!--[/diy]--> 
</div>



<div id="pt" class="bm cl">
<div class="z">
<a href="./" class="nvhm" title="首页">传智论坛-IT学习社区</a><em>&raquo;</em><a href="forum.php" id="fjump" onmouseover="delayShow(this, 'showForummenu()');" class="showmenu">技术论坛</a></div>
<div class="z">
<iframe id="connectlike" allowtransparency="true" scrolling="no" border="0" width="280" height="25" frameborder="0"></iframe>
<script type="text/javascript">_attachEvent(window, 'load', function () { $('connectlike').src = 'api/connect/like.php';}, document);</script>
</div>
</div>


<div class="wp">
<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="wp cl">
<div id="chart" class="bm bw0 cl">
<p class="chart z">今日: <em>509</em><span class="pipe">|</span>昨日: <em>629</em><span class="pipe">|</span>帖子: <em>306537</em><span class="pipe">|</span>会员: <em>174011</em><span class="pipe">|</span>欢迎新会员: <em><a href="space-username-nhgfdtr4cZl.html" target="_blank" class="xi2">nhgfdtr4cZl</a></em></p>
<div class="y">
<a href="forum.php?mod=guide&amp;view=new" title="最新回复" class="xi2">最新回复</a></div>
</div>

<div class="mn" >
    
    
    

<script type="text/javascript">var showngethreadcard = 0,msgstr = '快速回复...';</script>
<link href="source/plugin/study_nge/images/nge.css?cg8" rel="stylesheet" type="text/css" />

<style>
.nge_inactive{ background: #E5EDF2 url("template/veikei_dz_portal_20131130_texture/images/titlebg.png") repeat-x 0 0;  border-right:1px solid #C2D5E3;border-bottom:1px solid #C2D5E3;}
.nge_active{  border-right:1px solid #C2D5E3;}
.nge_border_left{border-left:1px solid #C2D5E3;}
.nge_border_right{border-right:1px solid #C2D5E3;}
.nge_border{border-collapse: collapse;border:1px solid #C2D5E3;}
.study_nge_zdy .nge_inactive{ background: #E5EDF2 url("source/plugin/study_nge/images/titlebg.png") repeat-x 0 0;  border-right:1px solid #C2D5E3;border-bottom:1px solid #C2D5E3;}
.study_nge_zdy .nge_active{  border-right:1px solid #C2D5E3;}
.study_nge_zdy .nge_border_left{border-left:1px solid #C2D5E3;}
.study_nge_zdy .nge_border_right{border-right:1px solid #C2D5E3;}
.study_nge_zdy .nge_border{border:1px solid #C2D5E3;}
.study_nge_zdy .bm_h {border-width: 1px 0;background: #E5EDF2 url("source/plugin/study_nge/images/titlebg.png") repeat-x 0 0;padding: 0 10px;height: 31px;border-top: 1px solid #C2D5E3;border-bottom: 1px solid #C2D5E3;line-height: 31px;white-space: nowrap;overflow: hidden;}
.study_nge_zdy .bm_h .o {float: right;width: 30px;}
.study_nge_zdy .bm_h .o img {float: right;margin-top: 11px;cursor: pointer;}
.study_nge_zdy .fl {border: 1px solid #CDCDCD;border-top: none;background: white;}
.study_nge_zdy .bm{margin-bottom: 10px;}
.study_nge_zdy .floattitle{border: 1px solid #CDCDCD;}
</style>

<div class="study_nge_auto" id="study_nge_div">
<div id="popLayer" class="floattitle" nowrap></div>
<div class="fl bm">
<div class="bm_h cl">
<span class="o">
<img id="category_study_nge_img" src="static/image/common/collapsed_no.gif" title="收起、展开N格" alt="收起、展开N格" onclick="nge_toggle_collapse('category_study_nge');" />
</span>

<span class="y">
<a id="nge_sslct" href="javascript:;" onmouseover="delayShow(this, function() {showMenu({'ctrlid':'nge_sslct','pos':'34!'})});" onclick="delayShow(this, function() {showMenu({'ctrlid':'nge_sslct','pos':'34!'})});">切换风格</a>
</span>

<span class="y">
<a id="nge_desktopshotcut" href="plugin.php?id=study_nge:desktopshotcut" title="下载桌面快捷访问" name="xxx">下载桌面快捷访问</a>
</span>

<span class="z">
<table>
<tr>

<td style="line-height:20px;height:20px;margin-top:10px;">

</td>
<td>
<!--<h2>	
<script language="JavaScript">
day = new Date( )
nge_Hour = day.getHours( )
var nge_warmprompt = "";
if (nge_Hour == 0)
nge_warmprompt = "现在已经过凌晨了，身体是无价的资本喔，早点休息吧！"
if (nge_Hour == 1)
nge_warmprompt = "凌晨1点多了，工作是永远都做不完的，别熬坏身子！"
if (nge_Hour == 2)
nge_warmprompt = "该休息了，身体可是革命的本钱啊！"
if (nge_Hour == 3)
nge_warmprompt = "夜深了，熬夜很容易导致身体内分泌失调，长痘痘的！"
if (nge_Hour == 4)
nge_warmprompt = "四点过了，你明天不上班？？？"
if (nge_Hour == 5)
nge_warmprompt = "你知道吗，此时是国内网络速度最快的时候！"
if (nge_Hour == 6)
nge_warmprompt = "清晨好，这麽早就上论坛啦，昨晚做的梦好吗？ "
if (nge_Hour == 7)
nge_warmprompt = "新的一天又开始了，祝你过得快乐!"
if (nge_Hour == 8)
nge_warmprompt = "早上好，一天之际在于晨，又是美好的一天！"
if ((nge_Hour == 9) || (nge_Hour ==10))
nge_warmprompt = "上午好！今天你看上去好精神哦！"
if (( nge_Hour == 11) || (nge_Hour == 12))
nge_warmprompt = "该吃午饭啦！有什么好吃的？您有中午休息的好习惯吗？"
if (( nge_Hour >= 13) && (nge_Hour <= 17))
nge_warmprompt = "下午好！外面的天气好吗？记得朵朵白云曾捎来朋友殷殷的祝福。"
if (( nge_Hour >= 17) && (nge_Hour <= 18))
nge_warmprompt = "太阳落山了！快看看夕阳吧！如果外面下雨，就不必了 ^_^"
if (( nge_Hour >= 18) && (nge_Hour <= 19))
nge_warmprompt = "晚上好，今天的心情怎么样，来论坛和我们诉说吧！"
if (( nge_Hour >= 19) && (nge_Hour <= 21))
nge_warmprompt = "忙碌了一天，累了吧？来玩玩应用游戏，放松下吧！"
if (( nge_Hour >= 22) && (nge_Hour <= 23))
nge_warmprompt = "这么晚了，还在上网？早点洗洗睡吧，睡前记得洗洗脸喔！"
document.write("　　<font color='#2E9AFE'>『温馨提示』")
document.write(nge_warmprompt)
document.write("</font>")
</script>
</h2>-->
</td>
</tr>
</table>
</span>
</div>
<div id="category_study_nge" >
<div style="">
<table border=0 cellSpacing=0 cellPadding=0 width="100%" style="border-collapse: collapse;border-bottom:1px solid #C2D5E3;">
    <tr>

<td width="450px" class="nge_border_right">
<table border="0" cellSpacing=0 cellPadding=0 width="100%" style="height:24px">
        <tbody>
        	<tr style="TEXT-ALIGN:center;">
        		<td class="nge_inactive" style="border-right:none;">精华推荐</td>
</tr>
       </tbody>
    </table>
</td>
    
    <td class="nge_border_right">
    <table cellSpacing=0 cellPadding=0 width="100%"  style="height:24px">
        <tbody>
        <tr>

                			<td class="nge_active" id="study_nge_t_threads_0" align="center" onmouseover="study_nge_hoverLi('_threads_','0','4');" style="cursor: pointer;">学员感言</td>
        			<td class="nge_inactive" id="study_nge_t_threads_1" align="center" onmouseover="study_nge_hoverLi('_threads_','1','4');" style="cursor: pointer;">教程下载</td>
        			<td class="nge_inactive" id="study_nge_t_threads_2" align="center" onmouseover="study_nge_hoverLi('_threads_','2','4');" style="cursor: pointer;">热门主题</td>
        			<td class="nge_inactive" id="study_nge_t_threads_3" align="center" onmouseover="study_nge_hoverLi('_threads_','3','4');" style="cursor: pointer;border-right:0px;">热门活动</td>

        </tr>
        </tbody>
    </table>
    </td>
    
    </tr>
    <tr>
    	
    <td width="450px" align=center class="nge_border_right" style="border-top:none;">
    <table border="0" cellSpacing=0 cellPadding=0 width="450">
      <tbody>
        <tr>
        	<td align="center" style="position: relative;">

<div>
<div class="module cl slidebox">
<ul class="slideshow">
<li style="width: 450px; height: 250px;">
<a href="http://open.itcast.cn/home/open/look/mark/3/id/106.html?jd1" title="C#游戏开发" target="_blank">
<img src="http://bbs.itcast.cn/data/attachment/forum/201412/12/102754g58zrglwvzk5lysa.jpg" width="450" height="250" alt="newpic"/></a>										
</li>
<li style="width: 450px; height: 250px;">
<a href="http://bbs.itcast.cn/thread-46775-1-1.html?jd2" title="播妞庆双旦，礼物大放送 ..." target="_blank">
<img src="http://bbs.itcast.cn/data/attachment/forum/201412/19/140409q4yz1yq13ik1lij0.jpg" width="450" height="250" alt="newpic"/></a>										
</li>
<li style="width: 450px; height: 250px;">
<a href="http://bbs.itcast.cn/thread-46811-1-1.html?jd3" title="2014年度优秀教师提名活动正在进 ..." target="_blank">
<img src="http://bbs.itcast.cn/data/attachment/forum/201412/16/100011nnwnx1x8suxm8qx6.jpg" width="450" height="250" alt="newpic"/></a>										
</li>
<li style="width: 450px; height: 250px;">
<a href="http://c.itcast.cn/?jd4" title="C++培训谁与争锋" target="_blank">
<img src="http://bbs.itcast.cn/data/attachment/forum/201412/10/142213yc991oae6ocjn110.jpg" width="450" height="250" alt="newpic"/></a>										
</li>

</ul>
</div>
<script type="text/javascript">
runslideshow();
</script>
</div>

</td>
</tr>
</tbody>
</table>
</td>    
    
    <td class="nge_border_right">
    <table border="0" cellSpacing=0 cellPadding=0 width="100%" style="table-layout:auto;">
        <tbody>
        <tr valign="top">
        <td>
        	<img src="source/plugin/study_nge/images/list10.gif" alt="列表"/>
        </td>
        <td class="nge_list_td">
        
                	<div id="study_nge_m_threads_0" class="nge_dis">
                		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-48273-1-1.html" title="版块: 学员感言
标题: 感谢传智 让我找到满意的工作
发表: 左泽 (2014-12-18 19:15)
浏览:  61 次 回复: 5 次
回复: 格子夕 (2014-12-22 14:03)"   target="_blank" name="xxx">感谢传智 让我找到满意的工作</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-49153-1-1.html" title="版块: 学员感言
标题: 不知道该不该再重新出去做程序员。。。
发表: q380472335 (2014-12-21 20:14)
浏览:  12 次 回复: 1 次
回复: 格子夕 (2014-12-22 13:54)"   target="_blank" name="xxx">不知道该不该再重新出去做程序员。。。</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-46689-1-1.html" title="版块: 学员感言
标题: 【网络营销一期】钱难赚 屎难吃 大龄生物硕士转行记
发表: darwin (2014-12-11 23:17)
浏览:  301 次 回复: 11 次
回复: yixiaoerguo1987 (2014-12-21 15:15)"   target="_blank" name="xxx">【网络营销一期】钱难赚 屎难吃 大龄生物硕士转行记</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-48555-1-1.html" title="版块: 学员感言
标题: 来自iOS0512的感谢信
发表: yunkai (2014-12-19 22:29)
浏览:  16 次 回复: 1 次
回复: 马军丰老师 (2014-12-21 10:45)"   target="_blank" name="xxx">来自iOS0512的感谢信</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-47594-1-1.html" title="版块: 学员感言
标题: 【网络营销一期】20几
发表: 一起走过的日子 (2014-12-15 22:50)
浏览:  105 次 回复: 18 次
回复: 黎明前的破晓 (2014-12-21 00:16)"   target="_blank" name="xxx">【网络营销一期】20几</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-48496-1-1.html" title="版块: 学员感言
标题: 传智网络营销首期班（二）10天后会怎样
发表: Milk❤ (2014-12-19 16:41)
浏览:  53 次 回复: 7 次
回复: Ice_Cream (2014-12-20 22:49)"   target="_blank" name="xxx">传智网络营销首期班（二）10天后会怎样</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-48264-1-1.html" title="版块: 学员感言
标题: 原来传智女老师也很霸气也很给力
发表: yixiaoerguo1987 (2014-12-18 18:03)
浏览:  146 次 回复: 7 次
回复: Ice_Cream (2014-12-20 22:47)"   target="_blank" name="xxx">原来传智女老师也很霸气也很给力</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-43095-1-1.html" title="版块: 学员感言
标题: 【.Net】应届生高薪就业的背后，看到第3条我惊呆了！
发表: 陈育梅 (2014-11-20 11:33)
浏览:  5169 次 回复: 20 次
回复: 追梦人_2014 (2014-12-20 00:07)"   target="_blank" name="xxx">【.Net】应届生高薪就业的背后，看到第3条我惊呆了！</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-46016-1-1.html" title="版块: 学员感言
标题: 【网络营销一期】成长，在岁月无声中前行！
发表: 跃向空中的鱼 (2014-12-07 19:51)
浏览:  130 次 回复: 15 次
回复: 跃向空中的鱼 (2014-12-19 23:04)"   target="_blank" name="xxx">【网络营销一期】成长，在岁月无声中前行！</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-47590-1-1.html" title="版块: 学员感言
标题: 【网络营销一期】20几
发表: 一起走过的日子 (2014-12-15 22:34)
浏览:  15 次 回复: 1 次
回复: 跃向空中的鱼 (2014-12-19 23:01)"   target="_blank" name="xxx">【网络营销一期】20几</a>

</div>
</div>

        	</div>
        	<div id="study_nge_m_threads_1" class="nge_undis">
                		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-28031-1-1.html" title="版块: 干货分享
标题: 软件Adobe Dreamweaver各种版本免费海量下载
发表: 赵艳敏老师 (2014-08-12 22:43)
浏览:  985 次 回复: 75 次
回复: 撰写、记忆 (2014-12-20 18:09)"   target="_blank" name="xxx">软件Adobe Dreamweaver各种版本免费海量下载</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-11837-1-1.html" title="版块: 干货分享
标题: 网页平面-李凤辉-UI图标设计经典教程-5月28日发
发表: fantasy217 (2013-05-28 12:01)
浏览:  14442 次 回复: 490 次
回复: ml02825 (2014-12-15 19:59)"   target="_blank" name="xxx">网页平面-李凤辉-UI图标设计经典教程-5月28日发</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-19370-1-1.html" title="版块: 干货分享
标题: Photoshop史上最强抠头发丝的技巧
发表: 高志远老师 (2013-09-18 23:49)
浏览:  6939 次 回复: 553 次
回复: fang2014 (2014-12-22 13:24)"   target="_blank" name="xxx">Photoshop史上最强抠头发丝的技巧</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-13894-1-1.html" title="版块: 干货分享
标题: 网页平面-贺叶铭-PS人物面部美化及商业修片技法教程视
发表: fantasy217 (2013-06-09 15:35)
浏览:  17282 次 回复: 797 次
回复: jackieyang043 (2014-12-19 20:21)"   target="_blank" name="xxx">网页平面-贺叶铭-PS人物面部美化及商业修片技法教程视</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-26647-1-1.html" title="版块: 干货分享
标题: Adobe CC 2014 全套软件及完美注册机 X-FORCE（含破解
发表: 高志远老师 (2014-06-29 21:35)
浏览:  4017 次 回复: 241 次
回复: jsrgxll (2014-12-20 20:26)"   target="_blank" name="xxx">Adobe CC 2014 全套软件及完美注册机 X-FORCE（含破解</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-33240-1-1.html" title="版块: 干货分享
标题: 【首发】史上最适合自学的C语言视频，超20000人订阅
发表: 小春老师 (2014-10-15 13:48)
浏览:  36825 次 回复: 305 次
回复: lw9089 (2014-12-22 10:51)"   target="_blank" name="xxx">【首发】史上最适合自学的C语言视频，超20000人订阅</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-17036-1-1.html" title="版块: 干货分享
标题: 【高薪就业必备11】java中静态变量和实例变量的区别？
发表: 董鹏老师 (2013-07-27 10:26)
浏览:  8387 次 回复: 395 次
回复: yr563002023 (2014-12-21 11:36)"   target="_blank" name="xxx">【高薪就业必备11】java中静态变量和实例变量的区别？</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-28067-1-1.html" title="版块: 干货分享
标题: 特供精品.Net基础全套视频教程2014版 -- 04Winform应
发表: 小Z_ (2014-08-14 10:23)
浏览:  13857 次 回复: 2218 次
回复: xqz2020 (2014-12-22 14:35)"   target="_blank" name="xxx">特供精品.Net基础全套视频教程2014版 -- 04Winform应</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-22808-1-1.html" title="版块: 干货分享
标题: 1月6、7号邵山欢老师JS公开课视频下载
发表: nyjtt (2014-01-14 10:55)
浏览:  4303 次 回复: 304 次
回复: fang2014 (2014-12-22 13:26)"   target="_blank" name="xxx">1月6、7号邵山欢老师JS公开课视频下载</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-111-1-1.html" title="版块: 干货分享
标题: 传智播客  黎活明 Android核心基础视频教程
发表: admin (2012-05-06 17:43)
浏览:  26557 次 回复: 641 次
回复: shipan13 (2014-12-22 00:03)"   target="_blank" name="xxx">传智播客  黎活明 Android核心基础视频教程</a>

</div>
</div>

        	</div>
        	<div id="study_nge_m_threads_2" class="nge_undis">
                		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-33240-1-1.html" title="版块: 干货分享
标题: 【首发】史上最适合自学的C语言视频，超20000人订阅
发表: 小春老师 (2014-10-15 13:48)
浏览:  36825 次 回复: 305 次
回复: lw9089 (2014-12-22 10:51)"   target="_blank" name="xxx">【首发】史上最适合自学的C语言视频，超20000人订阅</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-30062-1-1.html" title="版块: 干货分享
标题: Java程序设计总复习题（100题，含答案）
发表: 起源 (2014-09-25 10:42)
浏览:  2013 次 回复: 144 次
回复: 梅黄落雨时 (2014-12-18 10:43)"   target="_blank" name="xxx">Java程序设计总复习题（100题，含答案）</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-32288-1-1.html" title="版块: 干货分享
标题: Java入门基础必备练习试题【含答案】
发表: 强哥qg (2014-10-09 10:23)
浏览:  2054 次 回复: 127 次
回复: 小城春秋 (2014-12-20 22:47)"   target="_blank" name="xxx">Java入门基础必备练习试题【含答案】</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-31190-1-1.html" title="版块: .Net公开课
标题: [第09期]拒绝低调，国内首家推出微软WP8.1移动开发课
发表: 小Z_ (2014-09-29 13:47)
浏览:  29251 次 回复: 99 次
回复: 小刚 (2014-12-18 14:37)"   target="_blank" name="xxx">[第09期]拒绝低调，国内首家推出微软WP8.1移动开发课</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-42688-1-1.html" title="版块: .Net公开课
标题: [第11期]Asp.net MVC的企业管理系统项目开发
发表: 兔纸姐 (2014-11-14 13:04)
浏览:  14857 次 回复: 92 次
回复: 匿名 (2014-12-21 20:17)"   target="_blank" name="xxx">[第11期]Asp.net MVC的企业管理系统项目开发</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-32150-1-1.html" title="版块: 干货分享
标题: 惊爆！设计师实用尺寸手册
发表: 高志远老师 (2014-10-03 09:02)
浏览:  671 次 回复: 70 次
回复: qq405830 (2014-12-18 22:17)"   target="_blank" name="xxx">惊爆！设计师实用尺寸手册</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-31632-1-1.html" title="版块: Java公开课
标题: [第14期]Linux系统开发基础入门公开课
发表: 裙子老师 (2014-09-30 09:43)
浏览:  20261 次 回复: 74 次
回复: 爱玲 (2014-12-17 23:44)"   target="_blank" name="xxx">[第14期]Linux系统开发基础入门公开课</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-44031-1-1.html" title="版块: 干货分享
标题: Unity基础入门全套视频教程 2015特供版
发表: 小春老师 (2014-11-27 10:40)
浏览:  898 次 回复: 63 次
回复: 勃然小怒 (2014-12-21 20:43)"   target="_blank" name="xxx">Unity基础入门全套视频教程 2015特供版</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-33681-1-1.html" title="版块: PHP公开课
标题: [第13期]PHP+MySql：8小时打造专属电子留言板系统
发表: 小聂老师 (2014-10-16 16:30)
浏览:  14757 次 回复: 73 次
回复: wangwbb (2014-12-20 22:13)"   target="_blank" name="xxx">[第13期]PHP+MySql：8小时打造专属电子留言板系统</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-30937-1-1.html" title="版块: 网页平面公开课
标题: 【第10期】超炫设计-创意合成设计/UI图标/3D立体字/CS
发表: 兔纸姐 (2014-09-28 17:25)
浏览:  15112 次 回复: 61 次
回复: java.yudi (2014-12-17 23:57)"   target="_blank" name="xxx">【第10期】超炫设计-创意合成设计/UI图标/3D立体字/CS</a>

</div>
</div>

        	</div>
        	<div id="study_nge_m_threads_3" class="nge_undis">
                		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-46507-1-1.html" title="版块: 衣食住行
标题: 老师，喝完这杯酒，今天不要走--传智那些事儿
发表: 我是锤哥 (2014-12-10 16:12)
浏览:  101 次 回复: 0 次
回复: 我是锤哥 (2014-12-10 16:12)"   target="_blank" name="xxx">老师，喝完这杯酒，今天不要走--传智那些事儿</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-41106-1-1.html" title="版块: 衣食住行
标题: 程序猿携设计狮美女雨中....想过我们的感受吗
发表: 姚绮丽老师 (2014-10-31 13:58)
浏览:  300 次 回复: 4 次
回复: beijing0807 (2015-01-29 14:00)"   target="_blank" name="xxx">程序猿携设计狮美女雨中....想过我们的感受吗</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-20695-1-1.html" title="版块: 衣食住行
标题: 上海网页二期模拟面试，看张鹏老师如何“刁难”学员
发表: 姚绮丽老师 (2013-10-25 20:02)
浏览:  1602 次 回复: 3 次
回复: D姑娘 (2014-11-18 16:44)"   target="_blank" name="xxx">上海网页二期模拟面试，看张鹏老师如何“刁难”学员</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-13880-1-1.html" title="版块: 衣食住行
标题: 微软，我们来啦！各种羡慕嫉妒呐，.Net学员应邀参观微
发表: boyuan (2013-06-09 14:12)
浏览:  3982 次 回复: 11 次
回复: peopleonline (2013-06-26 17:13)"   target="_blank" name="xxx">微软，我们来啦！各种羡慕嫉妒呐，.Net学员应邀参观微</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-13371-1-1.html" title="版块: 衣食住行
标题: 体验软件之巅:传智播客受邀参加第十七届中国国际软件
发表: 栾博老师 (2013-06-07 01:07)
浏览:  6360 次 回复: 10 次
回复: 対伱♂嶶笶 (2013-07-02 00:06)"   target="_blank" name="xxx">体验软件之巅:传智播客受邀参加第十七届中国国际软件</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-10548-1-1.html" title="版块: 衣食住行
标题: 畅游古刹八大处，尽显讲师年少时—记传智首个讲师日活
发表: 刘晓曲老师 (2013-04-08 02:30)
浏览:  6118 次 回复: 5 次
回复: 仇邓强 (2013-05-31 16:43)"   target="_blank" name="xxx">畅游古刹八大处，尽显讲师年少时—记传智首个讲师日活</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-10437-1-1.html" title="版块: 衣食住行
标题: 毕姥爷突击查寝暖人心——上海传智播客住宿生活篇（一
发表: 王平 (2013-04-02 16:20)
浏览:  8695 次 回复: 25 次
回复: 茹红 (2014-12-10 14:01)"   target="_blank" name="xxx">毕姥爷突击查寝暖人心——上海传智播客住宿生活篇（一</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-10233-1-1.html" title="版块: 衣食住行
标题: 爱心之火成燎原之势——浩荣 成都传智播客支持你
发表: 成都中心 (2013-03-27 14:17)
浏览:  1953 次 回复: 1 次
回复: 成都中心 (2013-03-27 14:37)"   target="_blank" name="xxx">爱心之火成燎原之势——浩荣 成都传智播客支持你</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-7632-1-1.html" title="版块: 衣食住行
标题: 必看！！！java&amp;平面联谊元旦晚会图文直播 精彩不断啊
发表: 王平 (2013-01-08 15:19)
浏览:  4435 次 回复: 6 次
回复: 左手牵右手 (2013-02-27 23:37)"   target="_blank" name="xxx">必看！！！java&amp;平面联谊元旦晚会图文直播 精彩不断啊</a>

</div>
</div>
        		<div class="nge_list_div">
        			<div style="float:right;margin-right:5px;display:inline;overflow:hidden;text-overflow:ellipsis;">
&nbsp;

        				
        			
        			</div>
        			<div style="display:inline;overflow:hidden;text-overflow:ellipsis;">
        			
<a href="thread-7465-1-1.html" title="版块: 衣食住行
标题: 期盼2013 high爆了 java班元旦晚会
发表: 冯佳老师 (2012-12-31 16:22)
浏览:  1911 次 回复: 2 次
回复: 指弹 (2012-12-31 19:44)"   target="_blank" name="xxx">期盼2013 high爆了 java班元旦晚会</a>

</div>
</div>

        	</div>

        
<!-- Powered by 1314study.com -->
        </td>
        </tr>
        </tbody>
    </table>
</td>
</tr>
</table>
<table border=0 cellSpacing=0 cellPadding=0 width="100%" style="border-collapse: collapse;">
    </table>
</div>
</div>
</div>
</div>

<div id="nge_sslct_menu" class="cl p_pop" style="display: none;">
<span class="sslct_btn" onclick="nge_extstyle('')" title="默认"><i></i></span>
<span class="sslct_btn" onclick="nge_extstyle('1')" title="蓝色"><i style='background:#0053B9'></i></span>
<span class="sslct_btn" onclick="nge_extstyle('2')" title="红色"><i style='background:#FCC'></i></span>
<span class="sslct_btn" onclick="nge_extstyle('3')" title="青色"><i style='background:#C5E6DF'></i></span>
<span class="sslct_btn" onclick="nge_extstyle('4')" title="橙色"><i style='background:#FC6'></i></span>
<span class="sslct_btn" onclick="nge_extstyle('5')" title="紫色"><i style='background:#DFCDDE'></i></span>
<span class="sslct_btn" onclick="nge_extstyle('6')" title="白色"><i style='background:#FFFFFF'></i></span>
</div>
<!-- Powered by 1314study.com -->
<script src="source/plugin/study_nge/images/common.js?cg8" type="text/javascript" ></script>



        
        <!-- 子分区版块列表页面 -->
        <!-- 此处为自定义顶部可DIY区域 -->
<div class="drag">
<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
</div>

        
        




<div class="fl bm">
<div class="bm bmw  flg cl">
<div class="bm_h cl">
<span class="o">
<img id="category_177_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_177');" />
</span>
<h2><a href="forum.php?gid=177" style="">免费课程</a></h2>
</div>
<div id="category_177" class="bm_c" style="">
<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-178-1.html"><img src="static/image/common/forum_new.gif" alt="免费公开课" /></a>
</div>
<dl>
<dt><a href="forum-178-1.html">免费公开课</a><em class="xw0 xi1" title="今日"> (16)</em></dt>
<dd> <span class="xi2"> 229</span> <span class="xg1"> /<span title="47188">4万</span></span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=25330&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 14:28">23&nbsp;分钟前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-191-1.html"><img src="static/image/common/forum.gif" alt="作业" /></a>
</div>
<dl>
<dt><a href="forum-191-1.html">作业</a></dt>
<dd> <span class="xi2"> 892</span> <span class="xg1"> /8462</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=11192&amp;goto=lastpost#lastpost">最后发表: 2014-12-11 14:56</a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-200-1.html"><img src="static/image/common/forum.gif" alt="传智特刊" /></a>
</div>
<dl>
<dt><a href="forum-200-1.html">传智特刊</a></dt>
<dd> <span class="xi2"> 78</span> <span class="xg1"> /985</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=26220&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-18 12:36">4&nbsp;天前</span></a>
</dd>
</dl>
</td>
</tr>
</table>
</div>
</div><div class="bm bmw  flg cl">
<div class="bm_h cl">
<span class="o">
<img id="category_215_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_215');" />
</span>
<h2><a href="forum.php?gid=215" style="">网页平面--网络班</a></h2>
</div>
<div id="category_215" class="bm_c" style="">
<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-217-1.html"><img src="static/image/common/forum_new.gif" alt="电商广告网络班" /></a>
</div>
<dl>
<dt><a href="forum-217-1.html">电商广告网络班</a><em class="xw0 xi1" title="今日"> (297)</em></dt>
<dd> <span class="xi2"> 25</span> <span class="xg1"> /225</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=49625&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 14:50">2&nbsp;分钟前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-216-1.html"><img src="static/image/common/forum.gif" alt="PS基础网络班" /></a>
</div>
<dl>
<dt><a href="forum-216-1.html">PS基础网络班</a><em class="xw0 xi1" title="今日"> (6)</em></dt>
<dd> <span class="xi2"> 141</span> <span class="xg1"> /492</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=48549&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 13:46">1&nbsp;小时前</span></a>
</dd>
</dl>
</td>
<td width="32.9%">&nbsp;</td></tr></tr>
</table>
</div>
</div><div class="bm bmw  flg cl">
<div class="bm_h cl">
<span class="o">
<img id="category_180_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_180');" />
</span>
<h2><a href="forum.php?gid=180" style="">技术学习</a></h2>
</div>
<div id="category_180" class="bm_c" style="">
<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-182-1.html"><img src="static/image/common/forum_new.gif" alt="技术答疑" /></a>
</div>
<dl>
<dt><a href="forum-182-1.html">技术答疑</a><em class="xw0 xi1" title="今日"> (9)</em></dt>
<dd> <span class="xi2"> 4268</span> <span class="xg1"> /<span title="20708">2万</span></span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=7807&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 14:44">8&nbsp;分钟前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-181-1.html"><img src="static/image/common/forum_new.gif" alt="干货分享" /></a>
</div>
<dl>
<dt><a href="forum-181-1.html">干货分享</a><em class="xw0 xi1" title="今日"> (141)</em></dt>
<dd> <span class="xi2"> 3321</span> <span class="xg1"> /<span title="185497">18万</span></span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=7795&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 14:50">1&nbsp;分钟前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-209-1.html"><img src="static/image/common/forum.gif" alt="网页平面UI设计学员作品展示" /></a>
</div>
<dl>
<dt><a href="forum-209-1.html">网页平面UI设计学员作品展示</a><em class="xw0 xi1" title="今日"> (1)</em></dt>
<dd> <span class="xi2"> 15</span> <span class="xg1"> /25</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=38215&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 09:03">5&nbsp;小时前</span></a>
</dd>
</dl>
</td>
</tr>
</table>
</div>
</div><div class="bm bmw  flg cl">
<div class="bm_h cl">
<span class="o">
<img id="category_170_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_170');" />
</span>
<h2><a href="forum.php?gid=170" style="">热门看点</a></h2>
</div>
<div id="category_170" class="bm_c" style="">
<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-171-1.html"><img src="static/image/common/forum.gif" alt="IT资讯" /></a>
</div>
<dl>
<dt><a href="forum-171-1.html">IT资讯</a><em class="xw0 xi1" title="今日"> (3)</em></dt>
<dd> <span class="xi2"> 64</span> <span class="xg1"> /214</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=49613&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 13:32">1&nbsp;小时前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-172-1.html"><img src="static/image/common/forum.gif" alt="就业薪资" /></a>
</div>
<dl>
<dt><a href="forum-172-1.html">就业薪资</a><em class="xw0 xi1" title="今日"> (1)</em></dt>
<dd> <span class="xi2"> 491</span> <span class="xg1"> /2195</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=48510&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 10:03">4&nbsp;小时前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-173-1.html"><img src="static/image/common/forum_new.gif" alt="学员感言" /></a>
</div>
<dl>
<dt><a href="forum-173-1.html">学员感言</a><em class="xw0 xi1" title="今日"> (7)</em></dt>
<dd> <span class="xi2"> 767</span> <span class="xg1"> /3564</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=48273&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 14:03">半小时前</span></a>
</dd>
</dl>
</td>
</tr>
</table>
</div>
</div><div class="bm bmw  flg cl">
<div class="bm_h cl">
<span class="o">
<img id="category_183_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_183');" />
</span>
<h2><a href="forum.php?gid=183" style="">大话码农</a></h2>
</div>
<div id="category_183" class="bm_c" style="">
<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-184-1.html"><img src="static/image/common/forum.gif" alt="衣食住行" /></a>
</div>
<dl>
<dt><a href="forum-184-1.html">衣食住行</a><em class="xw0 xi1" title="今日"> (3)</em></dt>
<dd> <span class="xi2"> 192</span> <span class="xg1"> /707</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=49617&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 13:46">1&nbsp;小时前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-185-1.html"><img src="static/image/common/forum_new.gif" alt="热门活动" /></a>
</div>
<dl>
<dt><a href="forum-185-1.html">热门活动</a><em class="xw0 xi1" title="今日"> (14)</em></dt>
<dd> <span class="xi2"> 417</span> <span class="xg1"> /2620</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=49624&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 14:45">6&nbsp;分钟前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-207-1.html"><img src="static/image/common/forum.gif" alt="吹牛专区" /></a>
</div>
<dl>
<dt><a href="forum-207-1.html">吹牛专区</a><em class="xw0 xi1" title="今日"> (6)</em></dt>
<dd> <span class="xi2"> 6140</span> <span class="xg1"> /<span title="27614">2万</span></span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=24432&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 11:10">3&nbsp;小时前</span></a>
</dd>
</dl>
</td>
</tr>
</table>
</div>
</div><div class="bm bmw  flg cl">
<div class="bm_h cl">
<span class="o">
<img id="category_174_img" src="static/image/common/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_174');" />
</span>
<h2><a href="forum.php?gid=174" style="">站务专区</a></h2>
</div>
<div id="category_174" class="bm_c" style="">
<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-175-1.html"><img src="static/image/common/forum.gif" alt="站务公告" /></a>
</div>
<dl>
<dt><a href="forum-175-1.html">站务公告</a><em class="xw0 xi1" title="今日"> (3)</em></dt>
<dd> <span class="xi2"> 192</span> <span class="xg1"> /4033</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=10348&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 12:33">2&nbsp;小时前</span></a>
</dd>
</dl>
</td>
<td class="fl_g" width="32.9%">
<div class="fl_icn_g">
<a href="forum-176-1.html"><img src="static/image/common/forum.gif" alt="版主会议室" /></a>
</div>
<dl>
<dt><a href="forum-176-1.html">版主会议室</a><em class="xw0 xi1" title="今日"> (2)</em></dt>
<dd> <span class="xi2"> 191</span> <span class="xg1"> /1303</span> </dd><dd>
<a href="forum.php?mod=redirect&amp;tid=49524&amp;goto=lastpost#lastpost">最后发表: <span title="2014-12-22 09:59">4&nbsp;小时前</span></a>
</dd>
</dl>
</td>
<td width="32.9%">&nbsp;</td></tr></tr>
</table>
</div>
</div>
</div>

<div class="wp mtn">
<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<div id="online" class="bm oll">
<div class="bm_h">
<span class="o"><a href="forum.php?showoldetails=yes#online" title="收起/展开"><img src="static/image/common/collapsed_yes.gif" alt="收起/展开" /></a></span>
<h3>
<strong>
在线会员
</strong>
<span class="xs1">- 总计 <strong>425</strong> 人在线
- 最高记录是 <strong>1205</strong> 于 <strong>2014-6-21</strong>.</span>
</h3>
</div>
</div>
<div class="bm lk">
<div id="category_lk" class="bm_c ptm">
<ul class="x mbm cl">
<li><a href="http://www.itheima.com" target="_blank" title="黑马程序员">黑马程序员</a></li><li><a href="http://www.zpark.com.cn" target="_blank" title="中关村软件园">中关村软件园</a></li><li><a href="http://www.itcast.cn" target="_blank" title="传智播客">传智播客</a></li><li><a href="http://bbs.itheima.com" target="_blank" title="黑马程序员论坛">黑马程序员论坛</a></li><li><a href="http://www.php-z.com" target="_blank" title="PHP教程">PHP教程</a></li><li><a href="http://www.java800.com/" target="_blank" title="java培训指南">java培训指南</a></li><li><a href="http://www.itman1024.com/" target="_blank" title="CCNA">CCNA</a></li><li><a href="http://bbs.fishc.com/" target="_blank" title="C\C++汇编">C\C++汇编</a></li><li><a href="http://bbs.itcast.cn/thread-18391-1-1.html" target="_blank" title="申请友链">申请友链</a></li></ul>
</div>
</div>

</div>

</div>
</div>
 
    <div class="a_cn"style=""><p class="close" id="ad_corner_close" onclick="setcookie('adclose_96', 1, 86400);this.parentNode.style.display='none'"><a href="javascript:;"><img src="static/image/common/ad_close.gif" /></a></p><a href="http://ios.itcast.cn/subject/ioszl/index.shtml" target="_blank"><img src="http://bbs.itcast.cn/data/attachment/common/cf/102649ivej75vn7xmmanmm.jpg" border="0"></a></div> 




<script type="text/javascript">
_attachEvent(window, 'load', getForbiddenFormula, document);
function getForbiddenFormula() {
var toGetForbiddenFormulaFIds = function () {
ajaxget('plugin.php?id=cloudsearch&formhash=a8c43e0a');
};
var a = document.body.getElementsByTagName('a');
for(var i = 0;i < a.length;i++){
if(a[i].getAttribute('sc')) {
a[i].setAttribute('mid', hash(a[i].href));
a[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
}
}
var btn = document.body.getElementsByTagName('button');
for(var i = 0;i < btn.length;i++){
if(btn[i].getAttribute('sc')) {
btn[i].setAttribute('mid', hash(btn[i].id));
btn[i].onmousedown = function() {toGetForbiddenFormulaFIds();};
}
}
}
</script>





<div id="wechat_float_qrcode" class="p_pop xg1" style="display:none;text-align:center;float:left;position:fixed;top:220px;z-index:100;margin-left: 2px;width:110px">
<p class="cl"><img class="y" style="cursor:pointer" onclick="display('wechat_float_qrcode');setcookie('wechatfqrc', 1, 86400)" src="static/image/common/ad_close.gif"></p>
<img src="plugin.php?id=wechat:qrcode&amp;access=yes" width="98" />
<p>手机快速浏览</p>
</div>
<script>
function wechat_qrcode(type) {
if(type && $('wechat_float_qrcode').style.display == 'none') {
return;
}
var qrleft = parseInt($('ft').clientWidth + parseInt(fetchOffset($('ft'))['left']));
$('wechat_float_qrcode').style.display = '';
if(qrleft + $('wechat_float_qrcode').clientWidth > document.documentElement.clientWidth) {
$('wechat_float_qrcode').style.cssFloat = 'right';
$('wechat_float_qrcode').style.left = 'auto';
$('wechat_float_qrcode').style.right = 0;
} else {
$('wechat_float_qrcode').style.cssFloat = 'left';
$('wechat_float_qrcode').style.left = (qrleft) + 'px';
$('wechat_float_qrcode').style.right = 'auto';
}
}
_attachEvent(window, 'scroll', function () { wechat_qrcode(1); })
_attachEvent(window, 'load', function() { wechat_qrcode(0); }, document);
</script>
