h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
address {
	font-style: normal;
}
em {
	font-style: normal;
}
ul {
	list-style-type: none;
}
ol {
	list-style-type: none;
}
ul li {
	list-style: none;
}
.float0831 {
	top: 160px; right: 1px; position: fixed; _position: absolute;
}
.float0831 a {
	color: rgb(0, 160, 233);
}
.float0831 a:hover {
	color: rgb(255, 129, 0); text-decoration: none;
}
.float0831 .floatL {
	width: 28px; float: left; position: relative;
}
.float0831 .floatL a {
	text-indent: -9999px; font-size: 0px; display: block;
}
.float0831 .floatR {
	background: url("../images/float_bg.gif");
}
.float0831 .tp {
	background: url("../images/float_bg.gif");
}
.float0831 .cn {
	background: url("../images/float_bg.gif");
}
.float0831 .floatR {
	background-position: -131px bottom; width: 130px; overflow: hidden; padding-bottom: 15px; float: left; background-repeat: no-repeat;
}
.float0831 .tp {
	height: 10px; overflow: hidden; background-repeat: no-repeat;
}
.float0831 .cn {
	background-position: -262px 0px; margin: 0px; padding: 0px; background-repeat: repeat-y;
}
.float0831 .cn h3 {
	height: 36px; text-indent: -9999px; font-size: 0px;
}
.float0831 .cn ul {
	padding: 0px 14px 0px 12px;
}
.float0831 .cn ul li {
	height: 36px; line-height: 36px; overflow: hidden; border-bottom-color: rgb(230, 229, 228); border-bottom-width: 1px; border-bottom-style: solid; word-break: normal; word-wrap: break-word;
}
.float0831 .titZx {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .titDh {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .titDc {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .icoZx {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .icoTc {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .icoFf {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .icoTl {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .btnOpen {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .btnOpen_n {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .btnCtn {
	background: url("../images/float_s.gif") no-repeat;
}
.float0831 .titZx {
	background-position: 5px -10px;
}
.float0831 .titDh {
	background-position: 5px -66px;
}
.float0831 .titDc {
	background-position: 5px -124px;
}
.float0831 .icoZx {
	background-position: 2px -154px;
}
.float0831 .icoTc {
	background-position: 0px -323px;
}
.float0831 .icoFf {
	background-position: 2px -213px;
}
.float0831 .icoTl {
	background-position: -3px -266px; width: 100px; padding-left: 11px; font-family: "????"; font-size: 12px; font-weight: 400; float: left; display: block;
}
.float0831 .btnOpen {
	background-position: -30px -396px;
}
.float0831 .btnOpen_n {
	background-position: 0px -530px;
}
.float0831 .btnCtn {
	background-position: 0px -396px;
}
.float0831 .icoZx {
	padding-left: 28px; float: left; display: block;
}
.float0831 .icoTc {
	padding-left: 28px; float: left; display: block;
}
.float0831 .icoFf {
	padding-left: 28px; float: left; display: block;
}
.float0831 .btnOpen {
	left: 2px; top: 80px; width: 28px; height: 118px; position: relative;
}
.float0831 .btnOpen_n {
	left: 2px; top: 80px; width: 28px; height: 118px; position: relative;
}
.float0831 .btnCtn {
	left: 2px; top: 80px; width: 28px; height: 118px; position: relative;
}
.float0831 .btnOpen {
	left: 1px; top: 118px;
}
.float0831 .btnOpen_n {
	left: 1px; top: 118px;
}
.float0831 .btnCtn {
	left: 2px; top: 118px;
}
.float0831 ul li h3.titDc a {
	width: 80px; height: 36px; display: block;
}
.float0831 ul li.top {
	width: 100px; border-bottom-color: rgb(172, 229, 249); border-bottom-width: 1px; border-bottom-style: solid;
}
.float0831 ul li.bot {
	border-bottom-style: none;
}
.float0831 ul.webZx {
	background: url("../images/webZx_bg.jpg") no-repeat; padding: 0px; width: 164px; height: 65px;
}
.float0831 ul li.webZx-in {
	width: 122px; height: 50px; padding-top: 8px; padding-left: 3px; border-bottom-style: none;
}
