a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp { border: 0; margin: 0; padding: 0; font-size: 100%; } 
html,body { height: 100%; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {  display: block; } 
b,strong { font-weight: bold; }
img { font-size: 0; vertical-align: middle;  -ms-interpolation-mode: bicubic; }
li {  display: list-item; }
/*table { border-collapse: collapse; border-spacing: 0; }
th,td,caption { font-weight: normal; vertical-align: top; text-align: left; }
*/
svg { overflow: hidden;}

body { 
font: 12px/1.5  Tahoma,"宋体",Helvetica,sans-serif;; color: #666;background-color:#FFF;
margin: 0px;
	padding: 0px;
	background-image: url(global/topbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
table td{ font: 12px  Tahoma,"宋体",Helvetica,sans-serif;}
body { 
font: 12px/1.5  Tahoma,"宋体",Helvetica,sans-serif;; color: #666;background-color:#FFF;
margin: 0px;
	padding: 0px;
	background-image: url(global/topbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
hr { border: 0 #ccc solid; border-top-width: 1px; clear: both; height: 0; }
a { text-decoration: none; color: #06C; }
/*a:hover {text-decoration:underline;}*/

h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }

ol { list-style: decimal; }
ul { list-style: disc; }
li { margin-left: 30px; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix {zoom: 1;}

.page-title {width:690px; height:108px; border-bottom:1px solid #A6A6A6;background:url(global/banner.jpg) no-repeat;text-indent:-9999px}
.topad{width: 690; height: 108; padding-bottom: 10px;}
.more {float:right;color:#666;margin:0px;padding:0px;font:normal 12px/1.5  Arial,"宋体",Helvetica,sans-serif}
.more a {color:#666}
/*
.split a {padding:0 6px; border-right:1px solid #BABABA;}
*/
.split a {padding:0 6px;}
.split a:hover {text-decoration:underline}
.split a.active {background:#EEE}
.split a.last {border:none}

.right-box {border:1px solid #DCDCDC;margin-bottom:15px;padding-bottom:15px}
.right-box dt {height:25px;line-height:25px;background:#EEE;color:#333;padding-left:10px;padding-right:10px;font-weight:bold}
.right-box dd {margin:15px 10px 0px}
.right-box dd a:hover{text-decoration:underline}
.right-box dd p a:hover{text-decoration:none}
.right-box .swf-mask {display:block}
.right-box .swf-mask div {cursor:pointer;background-color:#FFF;zoom:1;position:absolute;z-index:1000;opacity:0;filter:alpha(opacity=1);ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=1)'}

.intr .pic {float:left;margin-right:5px}
.intr h5 {line-height:20px;margin:0px;font-size:12px;font-weight:normal;overflow:hidden}
.intr p {margin:0px;padding:0px}

.center {text-align:center}
.air {margin-top:20px}

.apply-bottom h3 {padding-left:10px;position:relative;border-bottom:3px solid #B01E1C;background:#D12E2C;height:33px;color:#FFF;font-size:16px;line-height:33px;font-family:"Microsoft Yahei"}
.apply-bottom h3 span.tel-label {font-size:0;line-height:0;text-indent:-9999px;padding:0;position:absolute;right:12px;top:6px;float:right;width:304px;height:24px;background:#D12E2C  no-repeat scroll 0 0}
.apply-bottom h3 span.tel-label em.tel {display:none}
/*.apply-bottom .apply-content {border-top:#F6F6F6 solid 10px;border-bottom:#F6F6F6 solid 10px;border-left:#F6F6F6 solid 8px;border-right:#F6F6F6 solid 8px;height:170px}*/
.apply-content {height:170px;border:8px #F6F6F6 solid}
.apply-content-na {height:125px}
.apply-bottom iframe {width:100%;height:100%}

.showbox-loader {background:#FFF url(global/loader.gif) no-repeat scroll 50% 50%}
/*
.zoom-in {cursor:url("global/zoomin.cur"),pointer}
.zoom-out {cursor:url("global/zoomout.cur"),pointer}
*/
.tablep
{ padding-left:5px; padding-top:5px; padding-bottom:5px;}
.tablep10
{ padding:8px;}
.input1
{
	border:solid 1px #cccccc; height:24px; line-height:24px; width:150px;
}
.input2
{
	border:solid 1px #cccccc; height:24px; line-height:24px; width:80px;
}
.input200{ border:solid 1px #cccccc; height:24px; line-height:24px; width:200px; }
.input360{ border:solid 1px #cccccc; height:24px; line-height:24px; width:360px; }
.textinput{ border:solid 1px #cccccc; height:120px; line-height:24px; width:650px; }
.textinput50{ border:solid 1px #cccccc; height:50px; line-height:24px; width:450px; }
.input450{ border:solid 1px #cccccc; height:24px; line-height:24px; width:450px; }

.color3{ color:#ff0000}
.color3 a{ color:#ff0000; text-decoration:none;}
.color3 a:link{ color:#ff0000; text-decoration:none;}
.color3 a:visited{ color:#ff0000; text-decoration:none;}
.color3 a:hover{ color:#ff0000; text-decoration: underline;}
.mar10{ margin-top:10px;}
.intv1{  border:solid 1px #cccccc; height:24px; line-height:24px; width:150px;}
.clear{ clear:both; line-height:0px;}