.imagecontainer {
	margin: 0px; padding: 0px;
}
.imagecontainer * {
	margin: 0px; padding: 0px;
}
.imagecontainer {
	width: 297px; height: 216px; overflow: hidden; position: relative;
}
.imagecontainer .slider {
	position: absolute;
}
.imagecontainer .slider li {
	list-style: none; display: inline;
}
.imagecontainer .slider img {
	width: 297px; height: 216px; display: block;
}
.imagecontainer .slider2 {
	width: 2000px;
}
.imagecontainer .slider2 li {
	float: left;
}
.imagecontainer .num {
	right: 5px; bottom: 5px; position: absolute;
}
.imagecontainer .num li {
	margin: 3px 1px; border: 1px solid rgb(255, 115, 0); width: 16px; height: 16px; text-align: center; color: rgb(255, 115, 0); line-height: 16px; overflow: hidden; font-family: Arial; font-size: 12px; float: left; cursor: pointer; background-color: rgb(255, 255, 255);
}
.imagecontainer .num li.on {
	margin: 0px 1px; border: 0px currentColor; width: 21px; height: 21px; color: rgb(255, 255, 255); line-height: 21px; font-size: 16px; font-weight: bold; background-color: rgb(255, 115, 0);
}
