body {
	font-size: 62.5%;
}
html > body {
	font-size: 12px;
}
body {
	margin: 0px; padding: 0px; font-size: 12px;
}
div {
	margin: 0px; padding: 0px; font-size: 12px;
}
dl {
	margin: 0px; padding: 0px; font-size: 12px;
}
dt {
	margin: 0px; padding: 0px; font-size: 12px;
}
dd {
	margin: 0px; padding: 0px; font-size: 12px;
}
ul {
	margin: 0px; padding: 0px; font-size: 12px;
}
ol {
	margin: 0px; padding: 0px; font-size: 12px;
}
li {
	margin: 0px; padding: 0px; font-size: 12px;
}
h1 {
	margin: 0px; padding: 0px; font-size: 12px;
}
h2 {
	margin: 0px; padding: 0px; font-size: 12px;
}
h3 {
	margin: 0px; padding: 0px; font-size: 12px;
}
h4 {
	margin: 0px; padding: 0px; font-size: 12px;
}
h5 {
	margin: 0px; padding: 0px; font-size: 12px;
}
h6 {
	margin: 0px; padding: 0px; font-size: 12px;
}
pre {
	margin: 0px; padding: 0px; font-size: 12px;
}
form {
	margin: 0px; padding: 0px; font-size: 12px;
}
fieldset {
	margin: 0px; padding: 0px; font-size: 12px;
}
input {
	margin: 0px; padding: 0px; font-size: 12px;
}
textarea {
	margin: 0px; padding: 0px; font-size: 12px;
}
p {
	margin: 0px; padding: 0px; font-size: 12px;
}
blockquote {
	margin: 0px; padding: 0px; font-size: 12px;
}
th {
	margin: 0px; padding: 0px; font-size: 12px;
}
td {
	margin: 0px; padding: 0px; font-size: 12px;
}
img {
	margin: 0px; padding: 0px; font-size: 12px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
input {
	border: 0px currentColor;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: normal;
}
h2 {
	font-size: 100%; font-weight: normal;
}
h3 {
	font-size: 100%; font-weight: normal;
}
h4 {
	font-size: 100%; font-weight: normal;
}
h5 {
	font-size: 100%; font-weight: normal;
}
h6 {
	font-size: 100%; font-weight: normal;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr {
	border: 0px currentColor;
}
acronym {
	border: 0px currentColor;
}
a {
	text-decoration: none;
}
a img {
	border: currentColor;
}
