a {
	
}
a:active {
	
}
.fixed {
	top: 200px; right: 0px; overflow: hidden; float: right; position: fixed; _position: absolute; _margin-bottom: 130px;
}
.fixed .f_left {
	background: url("../images/float_s.gif") no-repeat 0px -396px; width: 29px; height: 119px; margin-top: 100px; float: left; cursor: pointer;
}
.fixed .f_right {
	width: 130px; float: left;
}
.fixed .f_right .fr_c1 {
	background: url("../images/float_bg.gif") no-repeat; width: 130px; height: 15px;
}
.fixed .f_right .fr_c2 {
	background: url("../images/float_bg.gif") repeat-y -262px 0px; width: 130px; _margin-top: -2px;
}
.fixed .f_right .fr_c2 ul {
	
}
.fixed .f_right .fr_c2 ul li.fr_c2_li1 {
	text-align: center; color: rgb(64, 184, 239); font-size: 14px; font-weight: bold; border-bottom-color: rgb(172, 229, 249); border-bottom-width: 1px; border-bottom-style: solid;
}
.fixed .f_right .fr_c2 ul li.fr_c2_li2 div {
	background: url("../images/wpa_preview_a02.png"); margin: 7px auto 0px; width: 77px; height: 22px; cursor: pointer;
}
.fixed .f_right .fr_c2 ul li.fr_c2_li3 div#nobold {
	background: url("../images/mm.png"); margin: 7px auto 0px; width: 130px; height: 22px; display: block;
}
.fixed .f_right .fr_c2 ul li {
	width: 102px; height: 36px; line-height: 36px; overflow: hidden; margin-left: 14px; border-bottom-color: rgb(230, 229, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.fixed .f_right .fr_c4 {
	background: url("../images/float_bg.gif") repeat-y -262px 0px; width: 130px;
}
.fixed .f_right .fr_c4 ul li {
	width: 102px; height: 36px; line-height: 36px; overflow: hidden; margin-left: 14px; border-bottom-color: rgb(230, 229, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.fixed .f_right .fr_c4 ul li.fr_c4_li1 {
	text-align: center; color: rgb(64, 184, 239); font-size: 14px; font-weight: bold; border-bottom-color: rgb(172, 229, 249); border-bottom-width: 1px; border-bottom-style: solid;
}
.fixed .f_right .fr_c4 ul li.fr_c4_li2 div {
	background: url("../images/float_s.gif") no-repeat 0px -268px; color: rgb(68, 68, 68); text-indent: 20px; font-size: 12px; font-weight: normal;
}
.fixed .f_right .fr_c3 {
	background: url("../images/webZx_bg.jpg") no-repeat; padding: 8px 0px 0px 4px; width: 126px; height: 57px;
}
.fixed .f_right .fr_c6 {
	background: url("../images/float_bg.gif") repeat-y -262px 0px; width: 130px;
}
.fixed .f_right .fr_c6 ul li {
	width: 102px; height: 36px; line-height: 36px; overflow: hidden; margin-left: 14px; border-bottom-color: rgb(230, 229, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.fixed .f_right .fr_c6 ul li a {
	color: rgb(255, 153, 51);
}
.fixed .f_right .fr_c6 ul li a:hover {
	color: rgb(255, 0, 0);
}
.fixed .f_right .fr_c6 ul li.fr_c6_li1 {
	text-align: center; color: rgb(64, 184, 239); font-size: 14px; font-weight: bold; border-bottom-color: rgb(172, 229, 249); border-bottom-width: 1px; border-bottom-style: solid;
}
.fixed .f_right .fr_c6 ul li.fr_c6_li2 div {
	background: url("../images/float_s.gif") no-repeat 0px -123px; width: 130px; height: 25px; text-align: left; text-indent: 25px; font-size: 12px; margin-left: 14px; cursor: pointer;
}
.fixed .f_right .fr_c6 ul li.fr_c6_li3 div {
	background: url("../images/float_s.gif") no-repeat 0px -212px; text-align: left; text-indent: 28px; font-size: 12px; margin-left: 12px;
}
.fixed .f_right .fr_c6 ul li.fr_c6_li2 div a {
	color: rgb(68, 68, 68);
}
.fixed .f_right .fr_c6 ul li.fr_c6_li3 div a {
	color: rgb(68, 68, 68);
}
.fixed .f_right .fr_c6 ul li.fr_c6_li2 div a:hover {
	color: rgb(255, 166, 77);
}
.fixed .f_right .fr_c6 ul li.fr_c6_li3 div a:hover {
	color: rgb(255, 166, 77);
}
.fixed .f_right .fr_c7 {
	background: url("../images/float_bg.gif") no-repeat -131px 0px; width: 130px; height: 15px;
}
