body {min-width:960px}

#hd {width:100%; margin-bottom:12px}
#hdMain {width:960px; height:110px; margin:0 auto;}
/*
#hdMain h1 {width:145px; height:80px; float:left; background:#FFF url(layout/logo.gif) no-repeat scroll 0 24px; margin-bottom:0}
*/
#hdMain #siteSlogan {margin:38px 0 0;float:left;text-indent:-9999px;background:#FFF url(layout/site_slogan.png) no-repeat scroll 0 0;width:194px;height:31px}
#hdMain h1 a {text-indent:-9999px;display:block;width:100%;height:100%;}
#hdLink {float:right;}
#hdLink a {color:#666;margin-left:10px}
#hdLink a:hover {color:#06C}

/* 导航 */
#nav {height:40px; width:100%; background:#2277C3 url(layout/nav.gif) repeat-x scroll 0 -40px}
#nav ul {width:960px; height:40px; margin:0 auto; background:transparent url(layout/nav.gif) no-repeat scroll right 0}
#nav ul li {height:40px; line-height:40px; float:left; display:block; font-size:14px; font-weight:bold; color:#267CC8;margin:0}
#nav ul li a, #nav ul li.cur strong, #nav ul li span{display:inline-block; *display:inline; zoom:1; margin-top:6px; line-height:34px; height:34px; background:#FFF url(layout/nav.gif) no-repeat scroll 0 -80px}
#nav ul li a span, #nav ul li.cur strong span {margin:0; margin-left:19px; padding-right:20px; background-position:right -80px}
#nav ul li a {color:#FFF;background-position:0 -46px;}
#nav ul li a span {background-position:right -46px;cursor:pointer}
#nav ul li a.with-icon {background-position:right -46px;cursor:pointer;position:relative}
#nav ul li a.with-icon span sup{position:absolute;right:0;top:0;}
#nav ul li a:hover {background-position:0 -120px}
#nav ul li a:hover span {background-position:right -120px}
/* 主体 */
#bd {width:960px; margin:0 auto}
#bd .left-690 {float:left; width:690px; margin-right:20px}
#bd .right-250 {float:left; width:250px;}


/* 底部 */
#ft {
	width:960px;
	clear:both;
	border-top:1px solid #CECECE;
	padding-top:5px;
	text-align:center;
	word-spacing:5px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
#ft a {color:#666}

/* 图标 */
.icon-base {padding-left:20px;background:transparent url(layout/icon.gif) no-repeat scroll 0 0}
.icon-redarr {background-position:0 2px}
.icon-ampl {background-position:0 -38px}
.icon-play {background-position:0 -78px}
.icon-up {background-position:0 -118px}
.icon-uplite {background-position:0 -158px}
.icon-video {background-position:0 -198px}
.icon-text {background-position:0 -238px}
.icon-expand {background-position:0 -278px}
.icon-fold {background-position:0 -318px}

/* 内页在线申请 */
.apply-right {padding:0 14px 12px;border-bottom:1px solid #A5A5A5;background:transparent url(layout/apply_right_bg.gif) repeat-x scroll 0 bottom; margin-bottom:20px}
.apply-right .sale-tel {margin:0}
.apply-right .sale-tel dt {margin:12px auto 2px;text-align:center;color:#999}
.apply-right .sale-tel dd {margin:0 auto;width:203px;height:34px;background:transparent url(layout/apply_right.png) no-repeat scroll 0 -165px}
.apply-right .sale-tel dd em {display:none}

.apply-btn-m {border:0 none;cursor:pointer;margin:12px auto 0;display:block;width:206px;height:45px;background:transparent url(layout/apply_right.png) no-repeat scroll 0 -53px}
.apply-btn-m em {display:none}
.apply-btn-m:hover {background-position:-206px -53px;}
.apply-btn-m:active {background-position:-412px -53px;}

.apply-right .svc-btns {margin-top:9px;text-align:center;margin:12px auto 0;}
.apply-right .svc-btns a {display:inline-block;*display:inline;zoom:1;border:0 none;margin:0 auto;cursor:pointer;width:97px;height:32px;background:transparent url(layout/apply_right.png) no-repeat scroll 0 -98px;}
.apply-right .svc-btns a strong {display:none}
.apply-right a.onekeycall-btn {margin-right:8px;background-position:0 -130px}
.apply-right .onekeycall-btn:hover {background-position:-97px -130px}
.apply-right .onekeycall-btn:active {background-position:-194px -130px}
.apply-right .svconline-btn:hover {background-position:-97px -98px}
.apply-right .svconline-btn:active {background-position:-194px -98px}
.apply-right .svc-btns .onekeycall-label {position:relative;display:inline-block;*display:inline;zoom:1}
.apply-right .svc-btns .tip-free {display:block;text-indent:-9999px;position:absolute;left:80px;top:-10px;background:transparent url(layout/icon.gif) no-repeat 0 -360px;width:26px;height:21px;}

.apply-right .svc-info {clear:both;margin-top:12px;text-align:center;padding-top:5px;border-top:1px solid #D3D3D3}
.apply-right .svc-info a.link-localsvc {width:108px;display:block;margin:0 auto 5px}
.apply-right .svc-info a.link-localsvc:hover {text-decoration:underline}
.svc-info {line-height:28px;}
/* 浮动层 */
.floater {border:3px solid #D3D3D3;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;position:absolute;display:none;z-index:32768}
.floater-border {border:4px solid #D22926}
.floater-content {width:350px;height:276px;background:#FFFFEA;overflow:hidden}
.floater-close {background:#D22926 url(layout/icon.gif) no-repeat scroll 0 -400px;width:18px;height:19px;position:absolute;right:7px;top:7px}
.floater-close span {display:none}
.floater-content iframe {margin:0;width:100%;height:231px;background-color:transparent}
.floater-content h5 {padding-left:22px;height:45px;line-height:45px;color:#000;font-size:14px;}

/* list 样式 */
ul.ul {list-style:none;margin:0}
ul.ul li, .list-item {padding-left:20px;background:transparent url(layout/icon.gif) no-repeat scroll 0 -440px;margin:0}
