.page-title {margin:0 0 10px;background-position:0px -324px} 

.news-split {border:0 none;margin:0;padding:0;font-size:0;line-height:5px;height:5px;display:block;background:#CCC}
.news-split div {width:189px;height:5px;background:#C00;}
.news-title-list {margin:0;list-style:none}
.news-title-list li {display:block;padding:27px 0 0 16px;height:125px;margin:0;border-bottom:1px solid #CCC}
.news-title-list li:hover {background:#F5F5F5}
.news-title-list li strong a {font-weight:normal;font-size:14px;}
.news-title-list li strong a:hover {text-decoration:underline}
.news-title-img {display:block;float:left;width:92px;height:92px;overflow:hidden} 
.news-title-img img {} 
.news-title-list li dl {margin:0;padding-left:173px}
.news-title-list li dl dd a {color:#666}
.news-title-list li.pager-split {font-size:0;padding:0;height:4px;line-height:4px;background-color:#F5F5F5}

.news-pager {text-align:center;margin-top:20px}
.news-pager a {display:inline-block;*display:inline;zoom:1;width:20px;height:20px;color:#222;font-weight:bold;line-height:20px;border-right:1px solid #C6C6C6;text-align:center;overflow:hidden}
.news-pager a span {display:none}
.news-pager a.num span, .news-pager a.cur span {display:inline}
.news-pager a.cur {color:#C00}
.news-pager .first, .news-pager .first-dis, .news-pager .prev, .news-pager .prev-dis, .news-pager .next, .news-pager .next-dis, .news-pager .last, .news-pager .last-dis {background:transparent url(news/pager.gif) no-repeat scroll;border:0 none}
.news-pager .prev, .news-pager .prev-dis {background-position:-20px 0;border-right:1px solid #C6C6C6}
.news-pager .next, .news-pager .next-dis {background-position:-40px 0;}
.news-pager .last, .news-pager .last-dis {background-position:-60px 0;}

.news-pager .first-dis, .news-pager .prev-dis, .news-pager .next-dis, .news-pager .last-dis {opacity:0.5;filter:alpha(opacity=50)}

.news-detail-path {margin:0 0 6px}
.news-detail-path a {color:#666}
.news-detail-path a:hover {color:#06C}
.news-content {padding:17px 24px}
.news-content .font-size-bar {text-align:right;margin-bottom:10px}
.news-content .font-size-bar a {margin-left:5px}
.news-content h4 {font-size:14px;color:#C30;text-align:center;margin:0 0 10px}
.news-content .news-upd-time {text-align:center;color:#999;margin:0 0 10px}
.news-main {color:#333}
.news-main p {text-indent:2em;margin-bottom:20px}
