
<div id="box">
  <div class="position"><a name="pagetop"/>您现在的位置：<span class="STYLE5"><a href="http://php.itcast.cn">PHP学院</a> &gt;&gt; PHP学院新闻 &gt;&gt; 正文</span></div>
  <div id="left" class="fl" style="margin-top:8px;">
    <div class="infotop"><img src="/Public/images/infotop.gif"/></div>
    <div class="left_content1">
      <div id="printarea">
        <h1 class="infotitle">李东超老师精彩视频  第1讲_贪食蛇</h1>
        <div class="editer">更新时间:2013年04月02日11时17分 来源:</div>
        <div class="infor">
         <p style="text-indent:0em;"><img alt="" src="{$list.img}" style="float:left;margin-right:15px;height:189px;width:155px;" /><span style="font-size:12px;"><span class="blue" style=""><strong>{$list.t_name}</strong></span><br />
<strong>职 务：{$list.position}</strong><br />
&nbsp; &nbsp; {$list.t_desc}</span></p>
<hr />
<p></p>
<p style="text-indent:0em;"><span style="font-size:12px;"><strong>课程内容介绍：</strong><br />
&nbsp; &nbsp;javascript是学习网页编程必修的一门客户端脚本语言。 很多人认为js只能是做一些简单的网页特效和表单验证，其实不然。 在js中也有强大的面向（基本）对象的编程思想 这是李东超讲师的随堂所录视频，主要讲解使用javascript语言编写的贪食蛇小游戏，在本例中，使用的是面向对象的编程思想，可以让有基础的同学对js的掌握以及js面向对象的理解更加深入一层！</span></p>
<div>
<div><span style="font-size:12px;"><a href="http://php.itcast.cn/news/20130402/11170476269.shtml#">第1讲_贪食蛇 李东超</a></span></div>
<div><span style="font-size:12px;"><a href="http://php.itcast.cn/news/20130402/11493672596.shtml">第2讲_贪食蛇 李东超</a></span></div>
<div><span style="font-size:12px;"><a href="http://php.itcast.cn/news/20130402/11511910871.shtml">第3讲_贪食蛇 李东超</a></span></div>
</div>
<center>
	<br />
	<hr />
	<br />
	<p><span style="color:#0000cd;"><span style="font-size: 12px;">视频网站转码后分辨率不高，推荐同学们下载视频观看：<a href="http://dl.vmall.com/c0pl6iyjtd" target="_blank">点此下载</a></span></span></p>
	<p style="text-indent:0em;">第1讲_贪食蛇</p>
	<p style="text-indent:0em;"><embed align="middle" allowfullscreen="true" allowscriptaccess="always" height="500" quality="high" src="http://player.youku.com/player.php/sid/XNTM2MTQxMzI0/v.swf" type="application/x-shockwave-flash" width="600"></embed></p>
</center>

	<script type="text/javascript" src="http://bbs.itcast.cn/api.php?mod=js&bid=94"></script>
        </div>
      </div>
      <div class="pre">
	               上一篇：<a target="_blank" href="/news/20130316/22360746537.shtml">在这里，我们学到的是老师们多年的经验</a>
       	  </div>
      <div class="next">
	              下一篇：<a target="_blank" href="/news/20130402/11493672596.shtml">李东超老师精彩视频  第2讲_贪食蛇</a>
      	  </div>

      <div class="clear"></div>
      <div class="share">
	  <!-- Baidu share BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="bds_more">分享到：</span>
        <a class="bds_sqq">QQ好友</a>
		<a class="bds_qzone">QQ空间</a>
		<a class="bds_tqq">腾讯微博</a>
		<a class="bds_tsina">新浪微博</a>
		<a class="bds_tieba">百度贴吧</a>
		<a class="shareCount"></a>
    </div>
<!-- Baidu share END 需在页面底部添加baidushare.js -->	  
	  </div>
	  <div class="clear"></div>
      <div class="print"><a href="#" id="printbutton">【打印】</a> <a href="#pagetop">【返回顶部】</a></div>
      	  <!-- 评论区 -->
	    	<script type="text/javascript">
	           $(document).ready(function(){
	              	loadcomment('20130402-11170476269', 1);
               });   
	       </script>
	  <div id="commentcontent"></div>
	  <form name="comment" style="padding:0;margin:0px;">
        <input type="hidden" name="referenceSource" value="20130402-11170476269">
        <input type="hidden" name="type" value="NEWS">
        <textarea cols="85" rows="6" style="width:610px;" name="content"></textarea>
        <div class="clear"></div>
        <div class="fabiao">
	      <span class="fl">请输入验证码：<input name="validatecode" type="text" style="width:80px;" />  <img src="http://manage.itcast.cn:8080/validatecode/comment.jpg" id="kaptchaImage" width="100"/></span><span class="fr"><input type='button' value="提 交" id="savebutton"/></span>
	    </div>
	  </form>
	  <div id="dialog" title="评论保存结果"></div><!-- 对话框内容 -->
      <!-- 评论区 -->
	        <div class="clear"></div>
      <div class="ad">
      <!-- 广告区 -->
      <!--<a href="http://icd.itcast.cn"><img border="0" src="http://www.itcast.cn/images/ad/icdad.gif" width="620" /></a>--> 
      <!-- 广告区 -->
      </div>
    </div>
    <div><img src="/Public/images/leftbottom.gif"/></div>
  </div>
  <div id="right" class="fl">
    <h4 class="righttitle1"><span class="fl">PHP视频下载</span><span class="fr"><a href="/php/video.shtml">+MORE</a></span></h4>
    <ul class="rightkuang">
       <ul>
<li><a href="http://php.itcast.cn/news/caa9b58b/37b1/47f6/98e3/bd3600c98cfc.shtml">PHP入门到精通教程</a></li>
<li><a href="http://php.itcast.cn/news/7acb031c/5958/42d8/be84/47796e2c1243.shtml">zend framework</a></li>
<li><a href="http://php.itcast.cn/news/a632aeea/df9a/46bf/92f1/896679400a37.shtml">smarty模板引擎 </a></li>
<li><a href="http://php.itcast.cn/news/2889f5ee/060a/4014/a6a8/cff645e79925.shtml">Ajax技术 </a></li>
<li><a href="http://php.itcast.cn/news/166b4e78/01b0/4017/96ae/764cd57432a8.shtml">页面静态化</a></li>
<li><a href="http://php.itcast.cn/news/50b67f71/dba5/4302/8749/b62bcc314bd0.shtml">Memcached缓存技术</a></li>
<li><a href="http://php.itcast.cn/news/61ee8515/a34e/477d/9d5d/662dbff5e161.shtml#">Mysql优化</a></li>
<li><a href="http://php.itcast.cn/news/fd551fd3/9db4/4360/9afa/57f438973108.shtml">轻松搞定网页设计</a></li>
<li><a href="http://php.itcast.cn/news/5805c1ea/1b18/41eb/8fcc/6234659d8b40.shtml">PHP数据库陷阱</a></li>
<li><a href="http://php.itcast.cn/news/94c86c32/a7c1/4d2f/b2b4/ded74c6e1113.shtml">PHP网上支付技术</a></li>
<li><a href="http://php.itcast.cn/news/47d47284/bd39/4322/8aa6/fd48cd51f9df.shtml">PHP报表视频教程</a></li>
<li><a href="http://php.itcast.cn/news/42366bc5/fc13/43f1/a69b/bc57132cfdc7.shtml">Linux视频教程</a></li>
<li><a href="http://php.itcast.cn/news/c31baf40/8fa5/4803/ac4d/6e27086d009f.shtml">Oracle视频教程</a></li>
</ul>

    </ul>
    <div class="rightbottom"><img src="/Public/images/rightbottom.jpg"/></div>
   
  </div>
</div>
<div class="clear"></div>
