/* ----------------------------------

 Main CSS file for Discuz! X
 (C) Comsenz Inc.
 http://www.w3ccool.com
 Created & Modified by subzerolove, bamuyi, Alice, Dfox & DragonLee.

 ----------------------------------*/
body, input, button, select, textarea {
	font: 12px/1.5 microsoft YaHei, Tahoma, Helvetica, Arial, sans-serif, sans-serif;
	color: {TABLETEXT};
}
a {
	text-decoration: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
ul li, .xl li {
	list-style: none;
}
table, td, tr, th, em {
font-size: 12px;
font-weight: normal;
font-style: normal;
}
/* 页头 */
/*----responsive-design-----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap {
		width: 960px;
	}
}
.wrap {
	margin: 0 auto;
	width: 960px;
}
.clear {
	clear: both;
}
.social-icons {
	float: right;
}
.w3c_z li:first-child {
	border-left: 1px solid #e7e7e7;
}
.w3c_z ul li:first-child, ol li:first-child {
	margin-top: 0px;
}
.w3c_z li {
	float: left;
	width: 40px;
	height: 40px;
	border-right: 1px solid #e7e7e7;
	background: none;
	padding: 0px;
	margin: 0;
}
.w3c_z li a {
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: transparent url({STYLEIMGDIR}/social-icons.png);
}
.w3c_z a.sethomepage {
	background-position: -640px top;
}
.w3c_z a.sethomepage:hover {
	background-position: -640px bottom;
}
.w3c_z a.addfavorite {
	background-position: -680px top;
}
.w3c_z a.addfavorite:hover {
	background-position: -680px bottom;
}
.w3c_z li a {
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: transparent url({STYLEIMGDIR}/social-icons.png);
}
.contact-info1 {
	font-weight: normal;
	color: #BBB;
	font-family: 'Source Sans Pro', sans-serif;
}
.social-icons li:first-child {
	border-left: 1px solid #e7e7e7;
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
}
/*顶部列表样式*/
.social-icons li {
	float: left;
	width: 40px;
	height: 40px;
	border-right: 1px solid #e7e7e7;
	background: none;
	padding: 0px;
	margin: 0;
	list-style: none;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: transparent url({STYLEIMGDIR}/social-icons.png);
}
/*帐号登录*/
.social-icons a.login:hover {
	background-position: 0px bottom;
}
.social-icons a.login {
	background-position: 0px top;
}
/*注册样式*/
.social-icons a.register {
	background-position: -40px top;
}
.social-icons a.register:hover {
	background-position: -40px bottom;
}
/*找回密码*/
.social-icons a.viewlostpw {
	background-position: -120px top;
}
.social-icons a.viewlostpw:hover {
	background-position: -120px bottom;
}
/*QQ登录*/
.social-icons a.qq {
	background-position: -80px top;
}
.social-icons a.qq:hover {
	background-position: -80px bottom;
}
/*微信登录*/
.social-icons a.weixin {
	background-position: -320px top;
}
.social-icons a.weixin:hover {
	background-position: -320px bottom;
}
/*新浪登录*/
.social-icons a.sina {
	background-position: -160px top;
}
.social-icons a.sina:hover {
	background-position: -160px bottom;
}
/*快捷样式*/
.social-icons a.showforummenu {
	background-position: -200px top;
}
.social-icons a.showforummenu:hover {
	background-position: -200px bottom;
}
/*切换到窄版*/
.social-icons a.switching {
	background-position: -720px top;
}
.social-icons a.switching:hover {
	background-position: -720px bottom;
}
/*LOGO样式*/
.logo {
	float: left;
	padding: 21px 0px 0px 0px;
}
/*官方二级菜单样式*/
#mu{
	margin: auto;
	width:960px}
.top-nav {
	float: right;
}
.top-nav ul li {
	display: inline-block;
	float: left;
}
.top-nav ul li a span {
	display: none;
}

.top-nav li.active > a, .top-nav li > a:hover {
	background: #D63B37;/*这里是栏目背景色（如图：论坛的颜色），把#D63B37改成你想要的颜色即可；*/
	color: #FFF;/*字体颜色*/
	text-decoration: none;
}
.top-nav ul li a {
	font-size: 1.675em;
	color: #FFF;
	padding: 22px;
	display: block;
	text-transform: uppercase;
}
.header {
background: #313232;/*这里是导航背景色，把#313232改成你想要的颜色即可；*/
border-bottom: 5px solid #D63B37;/*这里是导航下边框颜色，5px为边框大小，solid为效果的样式，把#D63B37为颜色调整为你想要的即可；*/
}
/*绑定帐号*/
#myitem_w3c_menu span{
	display:none}
#myitem_w3c_menu a{
	padding:5px 0px 5px;
}
/*顶部登录区域样式*/
.mlogin {
	padding-top: 10px;
	margin-right: 10px;
}
/*myprompt.new页面头部新消息样式 */
#myprompt.new {
background-position: 0 50%;
background-repeat: no-repeat;
padding-left: 15px;
font-weight: 700;
}
/*myprompt.new页面头部新消息样式 */
#pm_ntc.new {
background-position: 0 50%;
background-repeat: no-repeat;
padding-left: 20px;
font-weight: 700;
}
.social-icons li.astx img {
	width:36px;
	margin:2px;
	}
/*w3c_menu*/
#w3cmenu_menu {
	padding: 20px 5px 10px;
	width: 610px;
	border-color: #DCE4EB;
}
#w3cmenu_menu ul.nav li {
	float: left;
}
.ie6 #w3cmenu_menu ul.nav li {
	clear: none !important;
	width: auto !important;
}
#w3cmenu_menu ul.nav a {
	margin-bottom: 10px;
	padding: 47px 0 0;
	width: 60px;
	border: none;
	border-radius: 4px;
	background: url({IMGDIR}/noicon.gif) no-repeat 50% 5px;
	text-align: center;
}
#w3cmenu_menu ul.nav a:hover {
	background-color: {SPECIALBG};
	color: {HIGHLIGHTLINK};
	text-shadow: none;
}

#diy-tg {
	height: 40px;
	width: 40px !important;
}
.w3cdiy {
	border-right: 1px solid #e7e7e7;
}
.ie7 .w3cdiy {
	border:none;
}
.w3cdiy a#diy-tg {
	background: transparent url({STYLEIMGDIR}/social-icons.png);
	background-position: -800px top;
}
.w3cdiy a#diy-tg:hover {
	background-position: -800px bottom;
}
/*subnav*/
.w3c_subnav {
	width: 960px;
	margin: auto;
	border-bottom: 1px solid #e7e7e7;
}
.w3c_subitems {
	padding: 5px 0 10px 0;
}
.w3c_subitem {
	float: left;
}
.w3c_si1 .icon {
	background: url({STYLEIMGDIR}/nv/eis_si1_icon.gif) no-repeat 50% 0;
}
.w3c_si2 .icon {
	background: url({STYLEIMGDIR}/nv/eis_si2_icon.gif) no-repeat 50% 0;
}
.w3c_si3 .icon {
	background: url({STYLEIMGDIR}/nv/eis_si3_icon.gif) no-repeat 50% 0;
}
.w3c_subitem .icon {
	float: left;
	width: 56px;
	height: 50px;
	overflow: hidden;
}
.w3c_si1 ul, .w3c_si2 ul, .w3c_si3 ul {
	width: 264px;
}
.w3c_subitem ul {
	float: left;
	overflow: hidden;
}
.w3c_subitem ul li {
	float: left;
	width: 88px;
	height: 25px;
	overflow: hidden;
}
.w3c_subitem ul li a {
	float: left;
	width: 68px;
	height: 25px;
	overflow: hidden;
	line-height: 25px;
	text-align: center;
	padding: 0 10px;
	font-size: 14px;
}
.w3c_subitem ul li.subm a {
	background: url({STYLEIMGDIR}/nv/subitem.gif) no-repeat 0 0;
}
.w3c_subitem ul li a:hover {
	text-decoration: none;
	color: #fff;
	background: url({STYLEIMGDIR}/nv/subitem.gif) no-repeat 0 -25px;
}

/*w3c_exhibition*/
.w3c_exhibition {
	padding: 0px 3px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.ie7 .w3c_exhibition {
	position:relative;
}
.w3c_exhibition_l {
	width: 401px;
	height: 302px;
	float: left;
	background: url({STYLEIMGDIR}/forum/dtopdefault_l.gif) no-repeat 0 0;
}
.w3c_exhibition_r {
	position:relative;
	border: 1px solid #e7e7e7;
	border-left: 0px;
	height: 300px;
	padding: 0 14px 0px 415px;
}
.ie7 .w3c_exhibition_r {
	position:static;	
	padding: 0 14px 0px 15px;
}
.w3c_el {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 380px;
	height: 280px;
	overflow: hidden;
}
.w3c_er .w3c_top {
	height: 91px;
}
#index {
	padding: 3px 0 0 51px;
	position: relative;
}
.w3c_index_tab {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 41px;
	height: 188px;
	padding-top: 10px;
}
.w3c_index_tab li {
	float: left;
	font-size: 14px;
	width: 41px;
	height: 44px;
	margin-bottom: 10px;
	line-height: 16px;
	text-align: center;
	padding: 8px 0 0px 0;
	background: url({STYLEIMGDIR}/forum/index_tab.gif) no-repeat 0 0;
}
.w3c_index_tab li.curtab {
	background: url({STYLEIMGDIR}/forum/index_tab.gif) no-repeat 0 -53px;
}
.w3c_index_tab li a {
	color: #333;
	display: block;
	width: 41px;
	height: 44px;
	overflow: hidden;
	text-align: center;
}
.w3c_index_tab li a:hover {
	text-decoration: none;
}
.w3c_index_tab li.curtab a {
	color: #fff;
}
.w3c_er .w3c_topic {
	padding: 5px 10px;
	height: 80px;
	border-bottom: 1px solid #ddd;
}
.w3c_topic h2 {
	font-weight: normal;
	font-size: 18px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-align: left;
}
.w3c_topic h2 a {
	color: #333;
}
.w3c_er .w3c_topic p {
	padding: 0;
	margin-bottom: 0;
	line-height: 24px;
	height: 48px;
	text-align: left;
	color: #666;
	border-bottom: 0px;
}
.w3c_topic p a.w3c_more {
	color: #f60;
}
.w3c_toplist {
	line-height: 28px;
}
.w3c_toplist li {
	height: 28px;
	padding-left: 3px;
	font-size: 14px;
	overflow: hidden;
}


.w3c_toplist li span {
	float: right;
	margin-left: 6px;
	color: #999;
	font-size: 12px;
}
.w3c_toplist li span a {
	color: #999;
}
.w3c_toplist li strong {
	font-weight: normal;
	margin-right: 4px;
}
.w3c_toplist li strong a {
	color: #f60;
}
#index .toplist_h {
	height: 196px;
}
#indexslider {
	position: relative;
	width: 400px;
	height: 290px;
}
.index-img {
	display: block;
	width: 400px;
	height: 290px;
	overflow: hidden;
}
.index-img img {
	width: 400px;
	height: 290px;
}
.index-pagination {
	position: absolute;
	z-index: 66;
	top: 250px;
	left: 50%;
	height: 30px;
	width: 210px;
	margin-left: -100px;
	text-align: center;
}
.index-pagination li {
	display: inline-block;
	width: 30px;
	position: relative;
	float: left;
	height: 23px;
	margin-right: 4px;
	overflow: hidden;
	background: url({STYLEIMGDIR}/forum/index-ar2r.png) -20px 0px no-repeat;
}
.index-pagination li a {
	position: relative;
	z-index: 666;
	display: block;
	padding: 16px 0px 5px 0px;
	height: 2px;
	color: #5f6a72;
	text-align: center;
}
.index-pagination li a div {
	position: relative;
	z-index: 555;
	display: block;
	height: 2px;
	background: #c9242b;
}
.index-pagination li a div span {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 2px;
	width: 0px;
	background: #FFF;
}
.index-pagination li a div em {
	position: absolute;
	display: none;
	width: 27px;
	height: 10px;
	background: url({STYLEIMGDIR}/forum/car-ico.png) no-repeat;
	top: -5px;
	left: 1px;
}
.index-pagination li.current a {
	color: #0b4da2;
	_color: #c9242b;
}
.index-pagination li.back {
	background: url({STYLEIMGDIR}/forum/car-ico.png) no-repeat;
	display: block;
	position: absolute;
	width: 27px;
	height: 10px;
	left: 0px;
	top: 4px;
	z-index: 444;
}

/*论坛首框架*/
.w3c_fbox {
	border: none;
	border-top: none;
	background: #FFF;
}
.w3c_fbox .bm {
	margin-bottom: 0;
	border: none;
}
.w3c_fbox .bm_c {
	padding-top: 0;
	padding-bottom: 0;
}
.w3c_fbox_bm .bm_h {
	border-top: none;
	border-bottom: 1px solid #e7e7e7;
	background: none;
	height: 38px;
	line-height: 38px;
}
.w3c_fbox_link {
	border: 1px solid #e7e7e7;
	background: #FFF;
}

.w3c_fbox_bm {
	margin-bottom: 10px;
	border: 1px solid #e7e7e7;
}
.w3c_fid_t {
	font: 15px/1.5 microsoft YaHei, Tahoma;
}

/*搜索*/
.w3c_search {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
.search_box {
	height: 50px;
	zoom: 1;	
	width:960px;
}
.search_box .field_panel {
	padding: 10px;
	position:relative;
}
.search_box .type_panel {
	float: left;
	border: 1px solid #e7e7e7;
	height: 30px;
	width: 150px;
}
.search_box .type_panel .type {
	display: block;
	background: url({STYLEIMGDIR}/common/s_type_bg.png) no-repeat 0 0px;
	height: 100%;
	-webkit-transition: background linear .12s;
	-moz-transition: background linear .12s;
	-ms-transition: background linear .12s;
	transition: background linear .12s;
}
.search_box .curr_owner .type {
	background-position: 73px -0px;
}
.search_box .type_panel .type em {
	float: left;
	cursor: pointer;
	line-height: 30px;
	height: 100%;
	width: 50%;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.8);
}
.search_box .curr_google .type .google, .search_box .curr_owner .type .owner {
	color: #fff;
}
.search_box .sch_panel {
	float: left;
	padding-left: 10px;
}
.search_box .sch_panel li {
	float: left;
}
.search_box .sch_panel .txt {
	display: inline-block;
	border: 1px solid #e7e7e7;
	padding: 0 26px;
	height: 30px;
	vertical-align: top;
}
.search_box .sch_panel .txt input {
	background: none;
	border: 0;
	border-radius: 4px;
	color: #333;
	padding: 6px;
	height: 16px;
	width: 300px;
	outline: 0;
	text-shadow: 0 1px 0 #fff;
	line-height: 16px\9;
}
.search_box .sch_panel .zoom, .search_box .sch_panel .clear {
	background: url({STYLEIMGDIR}/common/s_s_b.png) no-repeat 0 0px;
	height: 20px;
	width: 20px;	
}
.search_box .sch_panel .zoom {
	margin: 5px 0 0 -20px;
}
.search_box .curr_google .clear {
	margin: 5px 0 0 -10px;
	position: absolute;
	*top:10px;/*ie7*/
	*left:520px;/*ie7*/
}
.search_box .owner_sch .clear {
	margin: 5px 0 0 -50px;
	position: absolute;
	*top:10px;/*ie7*/
	*left:450px;/*ie7*/
}
.search_box .sch_panel .clear {
	background-position: -20px 0px;
	cursor: pointer;
	opacity: 1;
}
.search_box  .owner_sch  #scbar_btn {
	height: 30px;
	width: 62px;
	color: #fff;
	line-height: 32px;
}
.search_box .curr_google .btns {
	position: absolute;
	visibility: hidden;
}
.search_box .scbar_btn {
	background: url({STYLEIMGDIR}/common/s_btn.png) no-repeat 0 0px;
	position: absolute;
}
.search_box .owner_sch .scbar_btn {
	margin-left: -62px;
}
.search_box .type_list {
	border-left: 1px solid #e7e7e7;	
	padding-top:5px;
	color: #ababab;
	height: 27px;
	width: 45px;
	overflow: hidden;
	position: absolute;
	z-index: 3;
}
.search_box .sch_type .type_list.active {
	box-shadow: 0 2px 2px #e7e7e7;
	background-color:#fff;
	height: 80px;
	margin-top: 1px;
	padding-top:4px;
}
.search_box .type_list span {
	display: block;
	cursor: pointer;
	padding: 3px 10px;
}
.search_box .type_list span:hover {
	color: #333;
}
.search_box .type_list i {
	height: 10px;
	width: 10px;
	overflow: hidden;
	position: absolute;
}
.search_box .type_list .current {
	cursor: default;
	margin-bottom: 5px;
}
.search_box .type_list .arrow {
	background: url({STYLEIMGDIR}/common/bg_hor.png) no-repeat -40px -312px;
	margin-left: -18px;
	left: 100%;
	top: 9px;
	-webkit-transition: background linear .2s;
}
.search_box .type_list:hover .arrow, .search_box .type_list.hover .arrow {
	background-position: -40px -302px;
}
.search_box .type_list .line {
	background: #ababab;
	height: 1px;
	width: 13px;
	left: 10px;
	top: 28px;
}
.search_box .owner_sch, .search_box .curr_owner .google_sch {
	display: none;
}
.search_box .curr_owner .owner_sch {
	display: block;
}
.search_box .owner_sch .type_list {
	margin-left: -110px;
}
.search_box .owner_sch .txt {
	padding-right: 86px;
}
.search_box .owner_sch .txt input {
	width: 240px;
}
.search_box .hot_keys {
	padding: 16px 12px 0 554px;
	overflow: hidden;
}
.search_box .hot_keys a {
	margin: 0 1em 0 .2em;
}