		  <div id="left" class="fl"  style="margin-top:3px;">
		   
		<div><img src="/Public/images/lefttop.gif"  /></div>
		<div class="left_content2">
		  <h4 class="title1"><span style="font-size:14px;float:right;padding-right:20px;">今天我终于来到了心中向往已久的神圣学府--八维研修学院，开始了改变命运的征途</span><span class="STYLE3">我们开学啦</span></h4>
			<div class="ganyan1 huodong1" style="clear: both">
<div class="fl">
<div class="imagecontainer" id="idTransformView2">
<ul class="slider slider2" id="idSlider2">
<foreach name="slide_image" item="vo">
<li><a href="{$vo.img_link}" target="_blank"><img title="{$vo.img_desc}" src="{$vo.img_path}" style="width: 297px; height: 216px;" /></a></li>
</foreach>
</ul>
<ul class="num" id="idNum2">
<li>1</li>
<li>2</li>
<li>3</li>
<li>4</li>
<li>5</li>
</ul>
</div>
</div>
<div class="fr shouye">
<foreach name="four" item="vo">
<ul>
<li><a href="/index.php/home/message/video/stu_id/{$vo.stu_id}"><img  src="{$vo.pic}" style="width:142px; height: 87px" /></a></li>
<li><a class="style3" href="/index.php/home/message/video/stu_id/{$vo.stu_id}" src="/public/images/1.jpg">{$vo.stu_name}-{$vo.s_name}</a></li>
</ul>
</foreach>
</div>
<div></div>
</div>

				<div class="clear"></div>
                <p class="kxsy-font1"><img src="http://www.itcast.cn/images/kxsy-tu6.jpg" /></p>
                <!--  校园消息  -->
				<ul class="huodong11">

				<foreach name='infoa' item='it'>
<li><img src="/public/images/sanjiao-1.jpg" /><a href="http://www.mybbs.com/index.php/Home/index/xueyuan_xq?id={$it.id}" target="_blank"><span style="color:#ff0000;">{$it.title}</span></a></li>
</foreach>
</ul>
</ul>


              <!--  校园消息  -->
             <div class="clear"></div>
				  <p class="text-r"><a href="http://php.itcast.cn/news/list/48b817de-285d-4981-a85a-ccdb3f42b15b/1.shtml
" ><img src="/Public/images/jiantoumore.gif"/></a></p>
			  </div>
			  <div><img src="/Public/images/leftbottom.gif"  /></div>
			  <div class="clear"></div>
			  <div><img src="/Public/images/lefttop.gif"  /></div>
			  <div class="left_content2">
			  <h4 class="title1"><span class="STYLE3">校园</span>动态</h4>
			  	<dl class="ganyan1 huodong1">
	<dt class="fl">
		<a href="http://php.itcast.cn/news/20131117/14525122556.shtml" target="_blank"><img src="/public/images/6.jpg" style="width: 286px; height: 215px;" /><br />
		开拓视野，展现自我，&ldquo;非你莫属&rdquo;我们来啦！</a></dt>
	<dd class="huodongfr">
		<h3 class="STYLE7">班级活动</h3>
		<ul class="bjhd">
		<foreach name='infob' item='it'>
		<li><img src="http://php.itcast.cn/images/great.jpg" /><a href="http://php.itcast.cn/news/20140328/17081824603.shtml" target="_blank">{$it.content}</a></li>
		</foreach>
		</ul>
	</dd>
</dl>

				<div class="clear"></div>
                <p class="text-r"><img src="/Public/images/jiantoumore.gif"/></p>
			  </div>
			  <div class="clear"></div><div><img src="/Public/images/leftbottom.gif"/></div>
			  <div><img src="/Public/images/lefttop.gif"  /></div>
			<div class="left_content2">
			  <h4 class="ganyan"><span class="STYLE3">论坛</span>热贴<span class="fr"><a href="http://bbs.itcast.cn">+MORE</a></span></h4>	
<div class="tie">		  
<script type="text/javascript" src="http://bbs.itcast.cn/api.php?mod=js&bid=67"></script>
</div>
			  <div class="clear"></div>
		  </div>
			<div><img src="/Public/images/leftbottom.gif"/></div>
			<div><img src="/Public/images/lefttop.gif"/></div>
			<div class="left_content2">
			  <h4 class="ganyan"><span class="fl"><span class="STYLE3">PHP培训</span>学员呐喊</span><span class="fr"><a href="./index.php/home/message/index">+MORE</a></span></h4>
			 <dl class="ganyan1 huodong1">
	<dt class="fl">
		<a href="./index.php/home/message/index" target="_blank"><img src="/public/images/4.jpg" style="width: 287px; height: 189px; " /></a><br />
		<a href="" target="_blank">八维PHP学院就业明星-张肖云</a>
		
	</dt>
	<dd class="huodongfr">
		<h3 class="STYLE7">就业信息</h3>
		<ul class="bjhd">
		<foreach name='info' item='val'>
		<li>
			<img src="http://www.itcast.cn/images/great.jpg" />
			<a href="./index.php/home/message/video/stu_id/{$val.stu_id}">{$val.stu_name} &nbsp; <?php echo $cc;?>&nbsp;
				{$val.com_name} &nbsp;{$val.money}</a>
		</li>
		</foreach>

		</ul>
	</dd>
</dl>

			 <div class="clear"></div>
		  </div>
		  <div class="clear"></div>
			<div><img src="/Public/images/leftbottom.gif"  /></div>
			
			<div><img src="/Public/images/lefttop.gif"  /></div>
			<div class="left_content2">
			  <h4 class="ganyan"><span class="fl"><span class="STYLE3">学员</span>感言</span><span class="fr"><a href="http://php.itcast.cn/news/list/0b8acc29-7202-4e1d-a6db-f6dfd3a639bb/1.shtml
">+MORE</a></span></h4>
			  <div class="xygy">
<div class="ganyanleft fl">
<dl class="ganyan1">
	<dt class="fl">
		<a href="http://php.itcast.cn/news/6c558812/4811/4576/b342/2307b12ae09a.shtml"><img alt="" src="/public/images/1.jpg" style="width: 108px; height: 71px" /></a></dt>
	<dd class="fr">
		<span class="STYLE6"><a href="">[php学员]</a></span><a href="">赵伦：八维，我人生中重要的一站</a></dd>
</dl>
<div class="clear"></div>
<ul>
<foreach name='infoc' item='it'>
<li><span class="STYLE6">[php学员]</span><a href="/index.php/Home/message/ganyandetail?id={$it.id}">{$it.title}</a></li>
</foreach>
<script type="text/javascript">
			<!--
				function register(){
					$("#myform").attr("action","/index.php/Home/index/register");
					$("#button").attr("value","注册");
					$("#span").html("<span style='color:blue;' onclick='login()'>登录</span>");
					$("#tele").show();
				}
				function forget(){
					$("#forget").toggle();
					$("#fname").focus();
				}
				function login(){
					$("#myform").attr("action","/index.php/Home/index/login");
					$("#button").attr("value","登录");
					$("#tele").hide();
					$("#span").html("<span style='color:blue;' onclick='register()'>注册</span>");
				}
				function telyzm(){
					var name=$("#fname").val();
					var tel=$("#ftel").val();
					$.ajax({
						type: "GET",
						url: "/index.php/Home/index/send_message",
						data: "name="+name+"&tel="+tel,
						success: function(msg){
							alert(msg);
						}
					}); 
				}
			//-->
			</script>
</ul>
</div>
<div class="ganyanleft fr3">
<dl class="ganyan1">
	<dt class="fl">
		<a href=""><img alt="" src="/public/images/2.jpg" style="width: 108px; height: 71px;" /></a></dt>
	<dd class="fr">
		<span class="STYLE6"><a href="">[php学员]</a></span><a href="">刘俊：美女网编,毕业薪水6500</a></dd>
</dl>
<div class="clear"></div>
<ul>
<foreach name='infod' item='it'>
<li><span class="STYLE6">[php学员]</span><a href="/index.php/Home/message/ganyandetail?id={$it.id}">{$it.title}</a></li>
</foreach>
<li><a href="/index.php/Home/message/ganyanlist"><font style="color: red"><b>&gt;&gt;查看更多学员感言</b></font></a></li>
</ul>
</div>
</div>
<br />

			  <div class="clear"></div>
		  </div>
			<div><img src="/Public/images/leftbottom.gif"  /></div>
			<div><img src="/Public/images/lefttop.gif"  /></div>
			<div class="left_content2">
			  <h4 class="ganyan"><span class="fl"><span class="STYLE3">PHP培训</span>名师答疑</span><span class="fr"><a href="">+MORE</a></span></h4>
			  <div class="msdy">
			    <div class="msdy-left"><img src="/Public/images/wenhao-1.jpg" /></div>
				<div class="msdy-right">
<ul>
<foreach name='infof' item='it'>
<li><a href="/index.php/home/index/detail/id/{$it.id}"><span style="color:#ff0000;">{$it.title}</span></a></li>

</ul>
<ul>
</foreach>
<li><a href="/index.php/Home/index/msdylist"><font style="color: red"><b>&gt;&gt;查看更多答疑信息</b></font></a></li>
</ul>
</div>
<br />
</div>