<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="keywords" content="java培训,net培训,PHP培训,网页培训,平面培训" />
<title>PHP学院新闻 -传智播客</title>
<link href="/style/style.css" type="text/css" rel="stylesheet" />
</head>

<body>	
<div id="header"> 
  <!-- 页面顶部 -->

  <div class="clear"></div>
  <div class="top2">

 
<div id="box">
		<div id="left" class="fl">
			<div class="left_content">
				<h2 class="title1"><span class="STYLE3">PHP学院新闻</span></h2>
				
				<ul class="com_links">
	  <!-- 列表 -->
	  <foreach name='info' item='it'>
             <li><a href="http://www.mybbs.com/index.php/Home/index/xueyuan_xq?id={$it.id}" target="_blank">{$it.title}</a>{$it.time}</li>
			 </foreach>
            <!-- 列表 -->
			    </ul>
				<div class="clear"></div>
				
		  		

