<div id="box">
  <div class="position"><a name="pagetop"/>您现在的位置：<span class="STYLE5"><a href="http://php.itcast.cn">PHP学院</a> &gt;&gt; PHP学员感言 &gt;&gt; 正文</span></div>
  <div id="left" class="fl" style="margin-top:8px;">
    <div class="infotop"></div>
    <div class="left_content1">
      <div id="printarea">
        <h1 class="infotitle">{$info.ganyan} - {$info.name}</h1>
        <div class="editer">更新时间:{$info.time} 来源:Yi利</div>
        <div class="infor">
         <div class="bigvideo">
<p><embed align="middle" allowscriptaccess="always" height="400" quality="high" src="http://static.video.qq.com/TPout.swf?vid=q0135knyyjl&amp;auto=0" type="application/x-shockwave-flash" width="560"></embed></p>
<p>{$info.name} - {$info.ganyan}</p>
</div>
<div class="clear"></div>
{$info.content}<br />
<a href="http://www.itcast.cn/files/image/201409/20140904140400661.jpg"><img alt="" src="http://www.itcast.cn/files/image/201409/20140925155954139.jpg" style="width: 600px; height: 800px;" /></a><br />
<a href="http://www.itcast.cn/files/image/201409/20140904140413765.jpg"><img alt="" src="http://www.itcast.cn/files/image/201409/20140925160030186.jpg" style="width: 600px; height: 800px;" /></a><br />
<a href="http://www.itcast.cn/files/image/201409/20140904140428540.jpg"><img alt="" src="http://www.itcast.cn/files/image/201409/20140925160322909.jpg" style="width: 600px; height: 800px;" /></a><br />
<br />
<br />
<div style="text-align: center;"><a href="http://www.itcast.cn/files/image/201409/20140904140452328.jpg"><img alt="" src="http://www.itcast.cn/files/image/201409/20140925160346706.jpg" style="width: 400px; height: 300px;" /></a></div>
<br />
<br />

	<script type="text/javascript" src="http://bbs.itcast.cn/api.php?mod=js&bid=94"></script>
        </div>
      </div>
      <div class="pre">
	               上一篇：<a target="_blank" href="/news/20130902/14273649772.shtml">学员郝建设：短暂时光的改变</a>
       	  </div>
      <div class="next">
	  	  </div>

      <div class="clear"></div>
      <div class="share">
	  <!-- Baidu share BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="bds_more">分享到：</span>
        <a class="bds_sqq">QQ好友</a>
		<a class="bds_qzone">QQ空间</a>
		<a class="bds_tqq">腾讯微博</a>
		<a class="bds_tsina">新浪微博</a>
		<a class="bds_tieba">百度贴吧</a>
		<a class="shareCount"></a>
    </div>
<!-- Baidu share END 需在页面底部添加baidushare.js -->	  
	  </div>
	  <div class="clear"></div>
      <div class="print"><a href="#" id="printbutton">【打印】</a> <a href="#pagetop">【返回顶部】</a></div>
      	  <!-- 评论区 -->
	    	<script type="text/javascript">
	           $(document).ready(function(){
	              	loadcomment('20140904-14020527929', 1);
               });   
	       </script>
	  <div id="commentcontent"></div>
	  <form name="comment" style="padding:0;margin:0px;">
        <input type="hidden" name="referenceSource" value="20140904-14020527929">
        <input type="hidden" name="type" value="NEWS">
        <textarea cols="85" rows="6" style="width:610px;" name="content"></textarea>
        <div class="clear"></div>
        <div class="fabiao">
	      <span class="fl">请输入验证码：<input name="validatecode" type="text" style="width:80px;" />  <img src="http://manage.itcast.cn:8080/validatecode/comment.jpg" id="kaptchaImage" width="100"/></span><span class="fr"><input type='button' value="提 交" id="savebutton"/></span>
	    </div>
	  </form>
	  <div id="dialog" title="评论保存结果"></div><!-- 对话框内容 -->
      <!-- 评论区 -->
	        <div class="clear"></div>
      <div class="ad">
      <!-- 广告区 -->
      <!--<a href="http://icd.itcast.cn"><img border="0" src="http://www.itcast.cn/images/ad/icdad.gif" width="620" /></a>--> 
      <!-- 广告区 -->
      </div>