<div id="box">
<div id="left" class="fl"  style="margin-top:3px;">
<div class="jyjb">
	<foreach name="video" item="va">
		<div class="jyjb-11">
			<ul>
			<li class="fl jyjb-11-font1" style="height:96px;"><a href="/index.php/home/message/video/stu_id/{$va.stu_id}"><img alt="yi利一组" src="{$va.pic}" style="width: 131px; height: 93px; " /></a></li>
			<li class="fl jyjb-11-font1"><span style="color:#000000;"><b>{$va.stu_name}<br />
		      {$va.s_name}<br />
			  {$va.com_name}</b></span><br />
			<span class="jyjb-font2"><a href="/index.php/home/message/video/stu_id/{$va.stu_id}">[播放]</a></span></li>
			</ul>
		</div>
	</foreach>
<br/>
	<div class="clear"></div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr>
	<th class="zhanshi" style="color:red;margin-bottom:0;border-bottom:0;font-

size:12px;background-color:#ecf6fd;">
		北京八维教育研修学院所有就业信息皆真实可靠，可联络就业学员验证；应企业和学员要求，企业名称和部分学员信息未呈现。</th>
	</tr>
</tbody>
</table>
<div class="zhanshi">
<h4><span class="fr" style="font-weight: normal; margin-right: 30px"><a href="#">更多 </a></span>12月20日PHP就业班部分学员就业喜报</h4>
<div><img alt="" src="/Public/images/104914z8lary1qv9vvv8fz.jpg" style="width: 628px; height: 266px;" /></div>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="jiuye" width="97%">
<tbody>
	<tr align="center">
	<th bgcolor="#ecf6fd" width="10%">
		姓名</th>
	<th bgcolor="#ecf6fd" width="25%">
		毕业学校</th>
	<th bgcolor="#ecf6fd" width="15%">
		入职时间</th>
	<th bgcolor="#ecf6fd" width="30%">
		入职公司</th>
	<th bgcolor="#ecf6fd" class="STYLE6" width="20%">
		薪资（￥）</th>
	</tr>
	<foreach name="list" item="val">
		<tr align="center">
			<td>{$val.stu_name}</td>
			<td>{$val.s_name}</td>
			<td>{$val.work_time}</td>
			<td>{$val.com_name}</td>
			<td class="STYLE6">{$val.money}</td>
		</tr>
	</foreach>
</tbody>
</table>

	
		