<div id="box">
     <!-- 左边 -->
	 <div id="left" class="fl" style="margin-top:3px;">
	        <div class="clear"></div>
			<div class="left_content2">
			<h4 class="ganyan"><span class="fl"><span class="STYLE3">学员</span>呐喊</span><span class="fr"><a href="/channel/job.shtml">+ MORE</a></span></h4>
			<!-- 内容主体 -->
			<div class="bigvideo">
<p>
	{$list[0]['video']}
</p>
<p>{$list[0]['stu_name']} 24岁 月薪{$list[0]['money']} 就职单位:{$list[0]['com_name']} (如果观看不了视频，请<a href="#" style="color: red">点击这里</a>)</p>
</div>
<div class="clear"></div>
<div class="zhanshi">
<h4>劳动合同（点击可查看大图）</h4>
<div class="blueline"><a href="http://www.itcast.cn/files/image/201307/20130705150451526.jpg" target="_blank"><img src="http://www.itcast.cn/files/image/201307/20130705145551295.jpg" style="width: 171px; height: 226px; " /></a><a href="http://www.itcast.cn/files/image/201307/20130705150543256.jpg" target="_blank"><img src="http://www.itcast.cn/files/image/201307/20130705145613587.jpg" style="width: 171px; height: 226px; " /></a><a href="http://www.itcast.cn/files/image/201307/20130705150616500.jpg" target="_blank"><img src="http://www.itcast.cn/files/image/201307/20130705145632229.jpg" style="width: 171px; height: 226px; " /></a></div>
<h4>身份证</h4>
<div class="blueline"><a href="#"><img src="http://www.itcast.cn/files/image/201307/20130705145826328.jpg" style="width: 297px; height: 191px; " /></a>
<img src="{$list[0]['pic']}">
</div>
<h4><a href="#">毕业证书</a></h4>
<div class="blueline"><a href="#"><img src="http://www.itcast.cn/files/image/201307/20130705150052626.jpg" style="width: 295px; height: 195px; " /></a><a href="#"><img src="http://www.itcast.cn/files/image/201307/20130705150111580.jpg" style="width: 295px; height: 195px; " /></a></div>
</div>

              <!-- 内容主体 -->
			  <div class="clear"></div>
			  <div class="shenming">
			   	<h4>郑重申明</h4>
				<div class="sminfor">在诚信缺失的当今社会，相信有人会怀疑我们造假，因此我们郑重承诺，如果您发现该同学的劳动合同是虚假的，北京八维教育将赔付您10万元。当然，如果在您查证后确认劳动合同属实，请录制一段查证视频，在视频中讲述您查证的过程并公开您的个人信息。</div>
			   </div>	