<head>
<title>添加新闻类别</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/general.css" rel="stylesheet" type="text/css" />
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/transport.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
</head>
<body>
<h1>
<span class="action-span1">添加新闻类别</span><span id="search_id" class="action-span1"></span>
<div style="clear:both"></div>
</h1>
 
<!-- 添加新闻类别 -->
<div class="list-div">
<form method="post" action="./sport_list.html">
	<table cellspacing='1' cellpadding='3'>
		<tr>
			<td align='right'>类别名称：</td>
			<td><input type="text" name="sportname" size=80></td>
		</tr>
		<tr>
			<td align='right'>类别描述：</td>
			<td><textarea name="sportcontent" rows="20" cols="100"></textarea></td>
		</tr>
		
		<tr>
			<td align='center' colspan=2><input type="submit" value='添加新闻类别'></td>	
		</tr>
	</table>
</form>
</div>
<br />
<div id="footer">
版权所有 &copy; 八维研修学院软件工程学院1302phpA班，并保留所有权利。</div>
</body>
</html>