<head>
<title>添加问题</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/general.css" rel="stylesheet" type="text/css" />
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/transport.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
</head>
<body>
<h1>添加问题</h1>
<a href='/admin.php/Home/problem/lists'>问题列表</a>

<!-- 添加新闻类别 -->
<div class="list-div">
<form method="post" action="/admin.php/Home/problem/add_do">
	<table cellspacing='1' cellpadding='3'>
	    <tr>
			<td align='right'>问题类别：</td>
			<td><select name="status">
			    <option selected>-请选择-</option>
				<option value="热点问题" >热点问题</option>
				<option value="PHP相关问题">PHP相关问题</option>
			</select></td>
		</tr>

		<tr>
			<td align='right'>问题名称：</td>
			<td><input type="text" name="title" size=80></td>
		</tr>
		
		<tr>
			<td align='right'>问题答案：</td>
			<td><input type="text" name="content" size=80></td>
		</tr>

		<tr>
			<td align='center' colspan=2><input type="submit" value='添加'></td>	
		</tr>
	</table>
</form>
</div>
<br />
<div id="footer">
版权所有 &copy; 八维研修学院软件工程学院1308phpA班yi利小组，并保留所有权利。</div>
</body>
</html>