<head>
<title>添加公司信息</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/Public/admin/css/general.css" rel="stylesheet" type="text/css" />
<link href="/Public/admin/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Public/admin/js/transport.js"></script>
<script type="text/javascript" src="/Public/admin/js/common.js"></script>
</head>
<body>
<h1>
<span class="action-span1">添加公司信息</span><span id="search_id" class="action-span1"></span>
<div style="clear:both"></div>
</h1>
 
<!-- 添加新闻类别 -->
<div class="list-div">
<form method="post" action="com_add">
	<table cellspacing='1' cellpadding='3'>
		<tr>
			<td align='right'>公司名称：</td>
			<td><input type="text" name="com_name"></td>
		</tr><tr><td></td><td></td></tr>
		<tr>
			<td align='right'>公司描述：</td>
			<td>
				<textarea name="com_desc" cols="40" rows="10"></textarea>
			</td>
		</tr><tr><td></td><td></td></tr>
		<tr>
			<td align='right'>创建时间：</td>
			<td><input type="text" name="r_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,skin:'default'})"   value="" /></td>
		</tr><tr><td></td><td></td></tr>
		<tr>
			<td align='right'>公司网址：</td>
			<td><input name="r_url"></td>
		</tr><tr><td></td><td></td></tr>
		<tr>
			<td align='right'>招收人数：</td>
			<td><input name="r_num"></td>
		</tr>
		<tr>
			<td align='right'>公司电话：</td>
			<td><input name="com_tel"></td>
		</tr><tr><td></td><td></td></tr>
		<tr>
			<td align='right'>公司email：</td>
			<td><input name="email"></td>
		</tr><tr><td></td><td></td></tr>
		<tr>
			<td align='right'>公司联系人：</td>
			<td><input name="com_mem"></td>
		</tr><tr><td></td><td></td></tr>
		<tr>
			<td align='right'>公司地址：</td>
			<td><input name="address"></td>
		</tr>
		<tr><td></td><td></td></tr>
		<tr>
			<td align='right'>招聘岗位：</td>
			<td><input name="position"></td>
		</tr>
		<tr><td></td><td></td></tr>
		<tr>
			<td align='right'>职位描述：</td>
			<td>
				<textarea name="pos_desc" cols="40" rows="10"></textarea>
			</td>
		</tr><tr><td></td><td></td></tr>
		<tr align="left">
			<td>
			</td>
			<td>			
				<input type="submit" value='添加公司信息' style="height:35px;width:100px">	
			</td>
		</tr>
	</table>
</form>
</div>
<br />
<script type="text/javascript" src="/Public/js/My97DatePicker/WdatePicker.js"></script>

<div id="footer">
版权所有 &copy; 八维研修学院软件工程学院1302phpA班，并保留所有权利。</div>
</body>
</html>