<DIV id="box">
<DIV style="margin-top: 3px;" id="left" class="fl">
<DIV><IMG src="/Public/images/lefttop.gif"></DIV>
<DIV class="jyjb">
<DIV><IMG src="/Public/images/kcjs-tu.jpg"></DIV>﻿
<DIV class="kcjs">
<STYLE type="text/css">
.kcnr-table{ line-height:20px;}
	.kcnr-table li{ list-style-image:url(http://www.itcast.cn/files/image/201207/20120718144154342.jpg); margin-left:15px;;</STYLE>
</DIV>
<foreach name='info' item='vo'>
<UL>
  <LI style="width: 141px;" class="fl"><IMG src="/Public/images/phpjc.jpg"></LI>
  <LI style="width: 470px;" class="fl jyjb-11-font1"><B class="jyjb-11-font2"><A 
  href="http://www.mybbs.com/index.php/Home/project/jichu" 
  target="_blank">{$vo.pei_class}</A></B>
  <P>{$vo.pei_intro}</P>
  </LI></UL>
  
<TABLE class="kcnr-table" border="0" cellSpacing="0" cellPadding="0" 
  width="99%">
  <TBODY>
  <TR>
    <TD>{$vo.pei_class}课程名称</TD>
    <TD><STRONG><a href="http://www.mybbs.com/index.php/Home/project/kecheng?id={$vo.pei_id}" target="_blank">点击查看{$vo.pei_class}课程详细介绍</a></STRONG></TD></TR>
  <TR>
    <TD width="22%"><BR>{$vo.bbs_jieduan}</TD>
    <TD width="78%">
      <P></P>
      <UL>
        {$vo.neirong}</UL></TD></TR>
  
  </TBODY></TABLE>
  </foreach>
<BR>
<BR>
