<div id="box">
		<div id="left" class="fl">
			<div><img src="/Public/images/lefttop.gif"/></div>
			<div class="left_content">
				<h2 class="title1"><span class="STYLE3">常见</span><span class="STYLE2">问题</span></h2>
				<h3 class="title2">热点问题</h3>
				<ul class="links">
﻿<ul>
<foreach name='info' item='it'>
<li><a href="http://www.itcast.cn/news/b391b18e/f306/44ab/aea2/649d74354f91.shtml" target="_blank">{$it.title}</a>{$it.time}</li>
</foreach>
</ul>
 
				</ul>
				<h3 class="title2">PHP相关问题</h3>
				<ul class="links">
<ul>
<foreach name='list' item='it'>
<li><a href="http://php.itcast.cn/news/20130409/11151678932.shtml" target="_blank">{$it.title}</a><img height="15" src="/Public/images/new.gif" width="29" /></li>
</foreach>
</ul>

			</ul>
			<div class="rightbottom"><img src="/Public/images/rightbottom.jpg"/></div>
	  </div>
	</div>
	<div class="clear"></div>
 <!-- 页面底部 -->