.frame-1 {
background-color:transparent !important;
background-image:none !important;
border:0 none !important;
margin:0 !important;
padding:0 !important;
border-width:0px;
height: auto
}
.frame-1-c {
background-color:transparent !important;
background-image:none !important;
border:0 none !important;
margin:0 !important;
padding:0 !important;
border-width:0px;
height: auto;
}
.move-span{
background-color:transparent !important;
background-image:none !important;
border:0 none !important;
margin:0 !important;
padding:0 !important;
border-width:0px;
height:auto;}
.move-span .content{
background-color:transparent !important;
background-image:none !important;
border:0 none !important;
margin:0 !important;
padding:0 !important;
border-width:0px;
height:auto;}

body{ background:url("../images/bottom_bj1.jpg") repeat scroll 0 0 #FFFFFF}
.wp{ width:1000px;}
.hdc{ min-height: 58px}
#hd{ background:url("../images/bj.png") repeat-x scroll center top transparent; height:392px; overflow:hidden;}
.Meunbj{ height:56px;background-image: url('../images/Meun_bj.png'); overflow:hidden; position:relative }
#nv{ background:none; height:45px;}
#nv, #nv li, #nv li.a, #nv li a:hover, #nv li.hover a, #nv li.hover a:hover{ background:none; color:#fff;text-decoration:none;}
#nv li.hover{background: url('../images/Meun_liline.png') no-repeat right center;}

#nv li.a a{ background-position: bottom; background-image: url('../images/muen_hover.jpg'); background-repeat: repeat-x; }
#nv, #mu{ border:0px}
#nv li.a{ margin-left:0px;}
#nv ul li{  padding-right:4px; height:45px; float:left; text-align:center;background: url('../images/Meun_liline.png') no-repeat right center;}
#nv ul li.a{background: url('../images/Meun_liline.png') no-repeat right center;}
#nv ul li img{padding-top:13px; height:22px }
#nv ul li a{ display:block;height:45px; line-height:45px;  color:#FFF}
#nv ul li.last,.Meun ul li.home{background:none}
#nv ul li#mn_portal{ height:45px; background:none; }
#nv ul li#mn_portal a{ height:45px; background:none; padding:0px;width:65px;}

#qmenu{height:29px; width:163px; display:block;background: url('../images/A.png') no-repeat; padding-right:0px; margin:8px; text-indent:-99999px;}
.login_open{ float:right; margin-right:-60px;}
.login_open li{ float:left; margin-left:10px; list-style:none;}
#um, #um a{ color: #F0FDFF}
.qq2 {
    background: url(../images/qq-weibo.png) no-repeat scroll 0px 4px transparent;
    color: #333333;
    display: inline-block;
    height: 25px;
	padding-left:18px;
}

.main{ width:1000px; margin:0 auto; overflow:hidden; border:1px solid #efeeec; margin-top:-55px;position:relative; z-index:99;}
#pt{ background-image: url("../images/table_bj.jpg");
    height: 34px; margin:0px; padding:10px; font-size:14px;}
#ct{ padding:10px; background-color:#FFFFFF}
.footer{background:url("../images/bottom_bj2.jpg") repeat scroll 0 0 #FFFFFF; margin-top:10px;}
#ft{ border:0px;}

.mtn{ margin-top:0px !important}
.nvhm{ background:url("../images/home_bj.png") no-repeat scroll 0 0 transparent; width:19px;}
