#foucss {
    height: 356px;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
    width: 1000px;
}
/** 幻灯 */
	.fullSlide{ width:100%;  position:relative;  height:340px; background:#000;  }
	.fullSlide .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;  }
	.fullSlide .bd ul{ width:100% !important;  }
	.fullSlide .bd li{ width:100% !important;  height:340px; overflow:hidden; text-align:center;  }
	.fullSlide .bd li a{ display:block; height:340px; }

	.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; background:url(../images/touming.png) repeat-x; text-align:center;
		 _background:#000; _filter:alpha(opacity=60); 
	}
	.fullSlide .hd ul{ text-align:center;  padding-top:5px;  }
	.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url(../images/tg_flash_p.png) -18px 0; overflow:hidden; 
		line-height:9999px; 
	}
	.fullSlide .hd ul .on{ background-position:0 0; }
















.body{width:1000px; height:210px;background: url('../images/index_mainbj.png'); margin:15px 0px 10px 0px;}
.bDiv{ float:left; overflow:hidden; padding-top:10px; padding-left:10px}
.b_left{ width:340px; padding-top:10px; padding-left:10px}
.b_zhong{width:310px; margin-left:4px; margin-right:4px; }
.b_right{width:312px;}

.xld .m{ margin-top:0px;}
.indextitle{ margin-bottom:8px;}


#main{ width:100%;}
.mainbox{ width:1000px; margin:0 auto; padding-top:16px;}






/*首页内容*/
.content{ width:1000px;}
.c_left,.c_right{ float:left;}
.c_left{ overflow:hidden;}
.title{ height:35px; border-bottom:solid 1px #c0cddc;}
.title h1{ margin-top:8px; margin-left:5px; padding-left:25px;font-family:"微软雅黑"; color:#187fc4; float:left;}
.sp1{ height:22px; background-position:0 -40px;}
.sp2{ height:21px; background-position:0 -20px;}
.c_left .detail{ margin-top:14px;}
.detail_pic{ width:184px; padding-left:3px; float:left;}
.detail_list{ width:458px; padding-left:10px; float:left;}
.detail_list li{ border-bottom: dotted 1px #eeedeb; background-image:url(../images/icon.png); background-repeat:no-repeat; background-position:0 0; height:22px; line-height:22px; padding-left:15px;}
*html .detail_list li{background-position:0 -18px;}

.detail_list li a{ color:#3e3a39;}
.detail_list li span{ color:#3e3a39; float:right; font-family:Arial, Helvetica, sans-serif;}
.detail_list .more_a{ margin-top:14px; display:block; width:56px; height:21px; background-position:0 0; color:#929292; float:right; font-size:12px; font-family:"微软雅黑"; text-align:center; line-height:21px;}
.detail_list .more_a:hover{ text-decoration:none;}

.c_right{ margin-left:29px; z-index:1;}
.links{ position:relative;}
#submenu,.mttop{ display:block;}
.s_a1,.s_a2,.s_a3{ float:left; display:block; width:315px;}
.s_a1{ height:53px; background-position:0 -21px;}
.s_a2{ height:35px; background-position:0 -74px;}
.s_a3{ height:30px; background-position:0 -109px;}
.s_a0{ float: left; display: block; width: 300px; padding-left:15px; line-height:78px; height:78px; background-position:0 -560px; font-size:16px; font-family:黑体; color:#6E6E6E;}
.s_a0:hover{ text-decoration:none;}

.menubox{ display:none; width:313px; border-left:solid 1px #dedede; border-right:solid 1px #dedede; border-radius:5px; background-color:#ececec; position:absolute; left:0; top:53px; z-index:30;}
.menubox a{ overflow:hidden; display:block; width:293px; height:23px; line-height:23px; padding-left:20px;border-bottom: solid 1px #dedede; color:#57585a; font-family:"微软雅黑", "宋体"}
.menubox a.top_rs{ border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
.menubox a.bt_rs{ border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
.menubox a:hover{ background-color:#ffffff; color:#187fc4; text-decoration:none;}

.morelink{ width:1000px; height:145px;}
.linkbox{ height:117px; box-shadow:1px 1px 3px #666;float:left;}
.l_bg1{ background-position:0 -139px;}
.l_bg2{ background-position:0 -256px;}
.l_bg3{ background-position:0 -373px;}
.linkbox dl{ float:right;}
.linkbox dt{ font-family:"微软雅黑", "宋体"; color:#187fc4; border-bottom:solid 1px #ccd6e1; line-height:24px; padding:6px 0 0 12px;}
.linkbox dd{ background-image:url(../images/icon.png); background-repeat:no-repeat; padding-left:12px; margin-left:5px;}
.linkbox dd a{ color:#3e3a39;}
.linkbox dd.line_h1{ background-position:0 -172px; height:24px; line-height:24px;}
.linkbox dd.line_h2{ background-position:0 -176px; height:16px; line-height:16px;}
.link_e{ box-shadow:none;background:none; margin-left:30px;}
*html .link_e{ box-shadow:none;background:none; margin-left:25px;}
.link_e .title{ margin-top:-7px; }


.w655{ width:655px;}
.f15{ font-size:15px;}
.fb{ font-weight:bold;}
.bg4{ background-image:url(../images/icon_big.png); background-repeat:no-repeat;}



.bg{ background-image:url(../images/button.png); background-repeat:no-repeat;}


.w312{ width:312px;}
.mt18{ margin-top:18px;}
.w315{ width:315px;}
.h53{ height:53px;}
.mt7{ margin-top:7px;}
.clear{clear:both;height:0;line-height:0;font:0; overflow:hidden;}

.mt14{ margin-top:14px;}
.w311{ width:311px;}
.w137{ width:137px;}
.mt5{ margin-top:5px;}
.ml33{ margin-left:33px;}
.mt3{ margin-top:3px;}
.w127{ width:127px;}


