<head>
<title>前台导航列表</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/Public/admin/css/general.css" rel="stylesheet" type="text/css" />
<link href="/Public/admin/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Public/admin/js/transport.js"></script>
<script type="text/javascript" src="./js/common.js"></script>
</head>
<body>
<h1>
<span class="action-span1">前台导航列表</span><span id="search_id" class="action-span1"></span>
<div style="clear:both"></div>
</h1>
<!-- 新闻类别列表 -->
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th  class="group-title"></th>
	<th  class="group-title">　</th>
  </tr>
  <tr class="table_tr">
    <td colspan=2 width="50%">{$info.0.logo_name}<input type="button" value="更换" onclick="location.href='/admin.php/Home/admin/logo_up/id/{$info.0.id}'"><br><img height="150" src="{$info.0.logo_path}"></td>
    
  </tr>
  <tr class="table_tr">
    <td width="50%">{$info.2.logo_name}<input type="button" value="更换" onclick="location.href='/admin.php/Home/admin/logo_up/id/{$info.2.id}'"><br><img height="150" src="{$info.2.logo_path}"></td>
    <td width="50%">{$info.1.logo_name}<input type="button" value="更换" onclick="location.href='/admin.php/Home/admin/logo_up/id/{$info.1.id}'"><br><img height="150" src="{$info.1.logo_path}"></td>
  </tr>
  <tr align="center">

  </tr>
  
</table>
</div>
<br />
<div id="footer">
版权所有 &copy; 八维研修学院软件工程学院1302phpA班，并保留所有权利。</div>
</body>
</html>